<style>
    input,select{
        display: block; margin-top: 1em;
    }
    .bar {
        height: 18px;
        background: green;
    }

    #progress1,#progress2 {
        width: 600px;
        background: #f5f5f5;
        /*box-sizing: border-box;*/
    }
</style>
<%= form_for @video,url:{action: 'video_edit', controller:'edu_videos'},:html => {:id => 'myForm',:multipart => true,:style => 'margin-left:20px;margin-top:-90px;'} do |f|%>
    <%= f.file_field :image, id:'fileupload_img',style:'visibility:hidden;'%>
    <%= f.file_field :video, id: 'video_upload', style: 'visibility:hidden;' %>
    <%= f.text_field :video_url,id:'video_url',style:'visibility:hidden;'%>
    <%= f.text_field :image_url, id:'image_path',style:'visibility:hidden;' %>
    <table class="EditTable">
      <tr class="FormData">
        <td class="CaptionTD">视频名称:</td><%= f.hidden_field :id, :value => @video.id%>
        <td class="DataTD"><%= f.text_field :name, :class => 'FormElement ui-widget-content ui-corner-all' %></td>
      </tr>
      <tr class="FormData">
        <td class="CaptionTD">概要:</td>
        <td class="DataTD"><%= f.text_field :content, :class => 'FormElement ui-widget-content ui-corner-all' %></td>
      </tr>
      <tr class="FormData">
        <td class="CaptionTD">医生:</td>
        <td class="DataTD"><select name="video[doctor_id]" style="width:172px;height:22px;" class="select2-container FormElement ui-widget-content ui-corner-all">
          <% if !@doctors.nil? %>
              <option value="">请选择</option>
              <% @doctors.each do |doctor| %>
                  <option value="<%= doctor.id %>"
                          <% if doctor.id == @video.doctor_id %> selected="selected"
                          <% end %> ><%= doctor.name %></option>
              <% end %>
          <% end %>
        </select></td>
      </tr>
      <tr class="FormData">
        <td class="CaptionTD">时间:</td>
        <td class="DataTD"><%= f.date_field :video_time, id: 'video_time',value: @video.video_time ,  style: 'width:172px;height:22px;' %></td>
      </tr>
      <tr class="FormData">
        <td class="CaptionTD">视频类型:</td>
        <td class="DataTD">
          <select name="edu_video[video_type]" style="width:172px;height:22px;" class="select2-container FormElement ui-widget-content ui-corner-all">
            <option value="">请选择</option><% @types.each do |type|%>
                <option value="<%= type.id%>" <% if type.id == @video.video_type_id %> selected="selected" <% end %> ><%= type.type_name%></option>
                <% end %></select></td>
      </tr>
      <tr class="FormData">
        <td class="CaptionTD">缩略图:</td>
        <td class="DataTD">
          <input id="image_path2" type="text" value="<%= @video.image_url%>" disabled="disabled" class='FormElement ui-widget-content ui-corner-all' style="display:inline"/><input id="fakebtn1_img" style="display:inline" type="button" value="选择图片文件"/>
         </td>
      </tr>
      <tr class="FormData">
        <td class="CaptionTD">视频:</td>
        <td class="DataTD">
          <input id="video_path" type="text" value="<%= @video.video_url %>" disabled="disabled" class='FormElement ui-widget-content ui-corner-all' style="display:inline"/>
        </td>
      </tr>
      <tr class="FormData">
        <td colspan="2">
          <div id="progress2">
            <div class="bar" style="width: 0%;"></div>
          </div>
        </td>
      </tr>
      <tr class="FormData">
        <td colspan="2">
          <div id="upload_div" style="display:inline;margin-left: 10px;">
            <div id="uploadinfo"></div></div>
        </td>
      </tr>
      <tr class="FormData">
        <td colspan="2">
          <div id="progress2">
            <%= f.submit '保存' %>
          </div>
        </td>
      </tr>
    </table>


<%end%>

<script>
    function getFileName(obj)
    {
        var pos = obj.value.lastIndexOf("/")*1;
        var filepath = obj.value.substring(pos+1);
        var pos2 = filepath.lastIndexOf("\\")*1;
        var filename = filepath.substring(pos2+1);
        $('#video_path').val(filename)
        $('#progress2 .bar').css(
                'width',
                '0%'
        );
    }
    $("#fakebtn1_img").click(function () {
        $("#fileupload_img").click();
    });
    var ChunkCount = 0;
    var stime;
        var url1 = "/edu_videos/upload_image";
        $('#fileupload_img').fileupload({
            autoUpload: true,
            type:'post',
            url: url1,
            dataType: 'json',
            //forceIframeTransport: true,
            maxChunkSize: 100000000, //100Mb
            fail:function (e, data) {
                console.log(data.errorThrown);
                alert('上传失败！')
            },

            done: function (e, data) {
                if (data.result.flag){
                   $('#image_path').val(data.result.url);
                   $('#image_path2').val(data.result.url);
                }
            }
        });

</script>