<div class="container" style="margin-top:100px;">
  <div class="col-md-10 col-offset-1">
    <% if flash[:notice] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
        <script>
            function disappear(){
                document.getElementById('login_notice').style.display='none'
            }
            setTimeout(disappear,6000);
        </script>
    <% end %>
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-0">
        <h1>欢迎登陆后台管理系统</h1>
        <h2><small>专注医院信息建设，以科技回报社会，将最新的IT前沿技术与临床实践相结合，为21世纪以患者为中心的个性化医疗服务提供全方位的技术支持。</small></h2>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="login-box">
          <%= form_for(:session, :class => '', :url => {:action => 'create', :controller => 'sessions'}, :html => {:id => 'sess_form'}) do |f| %>
              <%#= f.label :username,"用户名"%>
              <%= f.text_field :username, :id => "us", :placeholder => "用户名/邮箱", :class => "form-control top"%>
              <%#= f.label :password,"密码"%>
              <%= f.password_field :password, :id => "pa", :placeholder => "密码", :class => "form-control bottom"%>
              <%= f.submit '登 录', :class => "btn-primary btn", :style => "" %>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>



