
<div style="margin-top:85px;margin-bottom:10px;" class="login_box">
  <% provide(:title, "Sign in") %>
  <%= form_for(:session, :class => '', :url => {:action => 'create', :controller => 'sessions'}, :html => {:id => 'sess_form'}) do |f| %>
      <%#= f.label :username,"用户名"%>
      <%= f.text_field :username, :id => "us", :placeholder => "用户名/邮箱", :class => "input_box username", :style => "" %>
      <%#= f.label :password,"密码"%>
      <%= f.password_field :password, :id => "pa", :placeholder => "密码", :class => "input_box password", :style => "" %>
      <%= f.submit '', :class => "login_button", :style => "" %>
  <% end %>
  <div class="clearfix"></div>
</div>
<script type="text/javascript">
    window.onresize = window.onload = function(){
        var w,h
        if(!!(window.attachEvent && !window.opera))
        {
            h = document.documentElement.clientHeight;
            w = document.documentElement.clientWidth;
        }else{
            h = window.innerHeight;
            w = window.innerWidth;
        }
        var bgImg = document.getElementById('bg').getElementsByTagName('img')[0];
        bgImg.width = (w);
        bgImg.height= (h) ;

    }
</script>

<div id="bg">
  <%=image_tag("bg.jpg", alt:"default", style:"margin:0;padding:0;position:absolute;left:0;top:0;z-index:-1;") %>
</div>