<%#= stylesheet_link_tag    'form-select'%>
<%#= javascript_include_tag 'doctor-form'%>
<style>
    .select2-container{
        width:170px;

    }
    .form-control{
        width :170px;
    }
</style>
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><b>创建或编辑</b></h4>
</div>
<div class="modal-body">
<%= form_for(@menu,remote:true,html:{id:'doc_form'}) do |f| %>
    <% if @menu.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this doctor from being saved:</h2>

          <ul>
            <% @menu.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
      <%= f.label '姓名' %>
      <div id="menus_parent_menu"><%= render partial: 'menus/form_name' %></div>
      <%= f.label :父菜单 %>
      <div id="menus_parent_menu"><%= render partial: 'menus/form_parent_menu' %></div>
      <%= f.label :操作 %>
      <div id="menus_priority"><%= render partial: 'menus/form_priority' %></div>
      <%= f.label :URI %>
      <%= f.text_field :uri,name:'uri' ,class:"form-control"%>
    </div>
    <div class="modal-footer">
      <%= f.submit '确定',id:'new_or_edit_submit',class:"btn btn-primary",onclick:'create_or_update()'%>
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<% end %>
</div>
</div>
</div>
<script>
    function create_or_update(){
//      var result = $('#new_or_edit_doctor').click()
//      console.log(result)
//      $('#create_or_edit_form').modal('hide')
//      var url= "/doctors?menu_id=<%=@menu_id%>"
//      jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
        var data = $('#doc_form').serialize()
        <% if !params[:id].nil? %>
        $.ajax({
            type:'put',
            url:'/menus/<%= params[:id] %>?menu_id=<%=@menu_id%>',
            data:data,
            success:function(data){
                if (data['success']){
                    $('#create_or_edit_form').modal('hide')
                    var url= "/menus/show_index?menu_id=<%=@menu_id%>"
                    jQuery("#list").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
                }else{
                    alert('失败!')
                }

            }
        }) ;
        <% else %>
        $.ajax({
            type:'post',
            url:'/menus?menu_id=<%=@menu_id%>',
            data:data,
            success:function(data){
                alert(data['success'])
                if (data['success']){
                    $('#create_or_edit_form').modal('hide')
                    var url= "/menus/show_index?menu_id=<%=@menu_id%>"
                    jQuery("#list").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
                }else{
                    alert('失败!')
                }

            }
        }) ;
        <% end %>
    }
    $(function() {
//        $('#menu_priorities').select2();

        $('#menu_parent_name').select2( {placeholder: "Search"})
        $('#menu_hospital_id').select2({placeholder: "Search"})
        $('#menu_department_id').select2({placeholder: "Search"});
//        jQuery("#menu_priorities").select2({placeholder: "可以选择0个或多个操作!",allowClear: true});
        <% if !params[:id].nil? %>
        <% menu = Menu.find_by(id:params[:id]) %>
        <% menu_permissions = MenuPermission.where(menu_id:params[:id])%>
        $('#menu_name').val("<%= menu.name %>")
        <% if !menu.parent_menu.nil?%>
        $('#s2id_menu_parent_name').children('.select2-choice').children('.select2-chosen').html('<%=menu.parent_menu.name%>')
        if (document.getElementById('parent_<%=menu.parent_id%>')){
            document.getElementById('parent_<%=menu.parent_id%>').setAttribute('selected','selected')
        }
        <% end %>
        <% if !menu_permissions.empty? %>
            <% menu_permissions.each do |menu_permission| %>
                if (document.getElementById('priority_<%=menu_permission.priority_id %>')){
                    document.getElementById('priority_<%=menu_permission.priority_id %>').setAttribute('selected','selected')
                }
            <% end %>
        <% end %>
        <%if !menu_permissions.first.nil?%>
          <%if menu_permissions.first.hospital %>
            $('#s2id_menu_hospital_id').children('.select2-choice').children('.select2-chosen').html('<%=menu_permissions.first.hospital.name%>')
          <% end %>
            if (document.getElementById('hospital_<%=menu_permissions.first.hospital_id%>')){
                document.getElementById('hospital_<%=menu_permissions.first.hospital_id%>').setAttribute('selected','selected')
            }

          <%if menu_permissions.first.department %>
            $('#s2id_menu_department_id').children('.select2-choice').children('.select2-chosen').html('<%=menu_permissions.first.department.name%>')
          <% end %>
            if (document.getElementById('department_<%=menu_permissions.first.department_id%>')){
                document.getElementById('department_<%=menu_permissions.first.department_id%>').setAttribute('selected','selected')
            }
        <% end %>
        <% end %>
    })
</script>
