
<% if signed_in? %>
    <%= stylesheet_link_tag 'menus/left_menu'%>
    <script type="text/javascript">
        var zNodes=<%=raw @left_menus.to_json %>

 //        初始化富文本
     KindEditor.ready(function(K) {

     });
    </script>
    <%#= javascript_include_tag 'menus/left_menu'%>
    <!--左侧二级菜单-->
    <div class="page-with-sidebar">
      <div class="sidebar-wrapper">
        <ul class="project-navigation nav nav-sidebar" id="accordion">
          <% if !@left_menus.empty? %>
              <% @left_menus.each do |menu| %>
                  <li id="menu_<%= menu.id %>">
                    <a class="shortcuts-project" href="javascript:leftMeunsOnClick('<%= menu.uri %>','menu_<%= menu.id %>')" title="<%= menu.name %>">
                      <% if menu.icon %>
                        <%= raw menu.icon %>
                      <% else %>
                          <i class="icon-comment-alt"></i>
                      <% end %>
                        <span>
                        <%= menu.name %>
                        </span>
                    </a>
                  </li>
              <% end %>
          <% end %>
          <!--<li class="active">-->
            <!--<a class="shortcuts-project" href="home/1" title="基础信息">-->
              <!--<i class="icon-comment-alt"></i>-->
        <!--<span>-->
        <!--基础信息-->
        <!--</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="">-->
            <!--<a class="shortcuts-tree" href="#" title="医院管理">-->
              <!--<i class="icon-hospital"></i>-->
        <!--<span>-->
        <!--医院管理-->
        <!--</span>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
        <!--<div class="zleftMenusBackground left" style="height:100%;float:left;width:15% !important;margin-top:0px !important;overflow:hidden;" id="homeLeftMenus">-->
          <!--<ul id="leftMenus" class="ztree" style="width:100%;height:100%;margin-top:0px !important;"></ul>-->
        <!--</div>-->
      </div>
      <!--右侧内容-->
      <div class="content-wrapper">
        <div class="container-fluid" id="rightContent">
          <div class="row">
            <div style="text-align:center">
              <%=image_tag "http://mimas-img.oss-cn-beijing.aliyuncs.com/huanying.jpg",:class=> "huanying_img"%>
            </div>
          </div>
        </div>
        <!--<div id="rightContent" style="float:right;width:82% !important;padding:10px;position:relative;">-->
          <!--<div style="text-align:center">-->
          <!--<%#=image_tag "http://mimas-img.oss-cn-beijing.aliyuncs.com/huanying.jpg",:class=> "huanying_img"%>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
<%end%>
<script>
    function leftMeunsOnClick(URL,menu_id) {
        $('#accordion li').removeClass("active");
        $('#'+menu_id).addClass('active')
            $.ajax({
                url:URL,
                type:'get',
                beforeSend:function(response){
                    $("#rightContent").html('<div style="text-align:center;width:100px;height:100px;border:1px solid #dcdcdc;position:absolute;left:50%;margin-top:150px;background:#ebeced;line-height:100px;font-weight:bold;"><img src="/loading.gif" style="margin-top:5px;"/></div>')
                },
                success:function (response,data){
                    $('#rightContent').html(response)
                },
                error:function(response){
                    $('#rightContent').html('response')
                }
            })
    };
</script>