<!--菜单/角色/管理员--　　删除　　-->
<%= stylesheet_link_tag    'ui-dialog' %>
<%= javascript_include_tag 'dialog-min' %>
<style>

    ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:220px;height:360px;overflow-y:scroll;overflow-x:auto;}
    .select2-container{
        width:170px;

    }
    ul li span.button.add { margin-left: 2px; margin-right: -1px; background-position: -144px 0; vertical-align: top; *vertical-align: middle; }
</style>

<SCRIPT type="text/javascript">
    <!--
    var log, className = "dark";
    var perSetting = {
        check: {
            enable: true,
                chkStyle: "checkbox",
                chkboxType: { "Y": "ps", "N": "ps" }
        },
        view:{
            addHoverDom:addHoverDom,
            removeHoverDom:removeHoverDom,
            selectedMulti:false
        },
        edit: {
            enable: true,
            showRemoveBtn: setRemoveBtn,
            showRenameBtn: showRenameBtn,
            removeTitle: "删除节点",
            renameTitle: "编辑节点",
            drag:{
                prev:false,
                inner:per_inner,
                next:false,
                isCopy:true,
                isMove:true
            }
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            /*编辑与删除回调*/
            beforeEditName: beforeEditName,
            beforeRemove: beforeRemove,
//            beforeRename: beforeRename,
            onRemove: onRemove,
            onRename: onRename,
            onClick:onClick,
//            onCheck:onCheck,
            beforeDrag: beforeDrag,
//            onDrag: zTreeOnDrag,
            beforeDrop: beforeDrop,
            onDrop: onDrop
//            beforeRemove:beforeRemove,
//            onRemove:onRemove
        }
    };

    var roleSetting = {
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "ps", "N": "ps" }
        },
        view:{
            addHoverDom:addHoverDom2,
            removeHoverDom:removeHoverDom,
            selectedMulti:false
        },
        edit: {
            enable: true,
            showRemoveBtn: setRemoveBtn,
            showRenameBtn: showRenameBtn2,
            removeTitle: "删除节点",
            renameTitle: "编辑节点",
            drag:{
                prev:false,
                inner:inner,
                next:false,
                isCopy:true,
                isMove:false
            }
        },
//        async: {
//            //异步加载
//            enable: true,
//            url: "/menus/show_all_menus",
//            autoParam: ["id", "pId", "name"]
//        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeDrag: beforeDrag2,
            beforeDrop: beforeDrop2,
            beforeEditName: beforeEditName2,
            beforeRemove: beforeRemove,
            beforeRename: beforeRename,
            onRemove:onRemove2,
            onRename:onRename2
        }
    };

    var admin2Setting = {
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "ps", "N": "ps" }
        },
        view:{
            selectedMulti:false
        },
        edit: {
            enable: true,
            showRemoveBtn: setRemoveBtn3,
            showRenameBtn: false,
            removeTitle: "删除节点",
            renameTitle: "编辑节点",
            drag:{
                prev:false,
                inner:inner,
                next:false,
                isCopy:false,
                isMove:false
            }
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeRemove: beforeRemove,
            onRemove:onRemove3
        }
    };

    function showRenameBtn(treeId, treeNode){
        <% if @update_flag %>
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        if ((''+treeNode.id).indexOf("_") > 0 || treeNode.level==0) {
            return false
        }else{
            return true
        }
        <% end %>
        return false
    }
    function showRenameBtn2(treeId, treeNode){
        <% if @update_flag %>
        if (treeNode.level==1) {
            return true
        }else{
            return false
        }
        <%  end %>
        return false
    }
    var newCount = 1;
    function addHoverDom(treeId,treeNode){
      <%if @add_flag %>
        if ((''+treeNode.id).indexOf("_") > 0) {
        }else{
        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
        var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='添加子节点' onfocus='this.blur();'></span>";
        sObj.after(addStr);
        }
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function(){
            var zTree=$.fn.zTree.getZTreeObj(treeId)
//            $('#create_or_edit_form').modal('show')
            //在这里向后台发送请求保存一个新建的叶子节点，父id为treeNode.id,让后将下面的100+newCount换成返回的id
//            zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"新建节点" + (newCount++)});
//            alert(treeNode.id)
            create_child_menus(treeId,treeNode)
//            if (treeNode.level==0){
//                create_child_menus(treeId,treeNode)
//            }else{
//                var d0 = dialog({
//                    title:'新建子节点',
//                    content:'选择子节点类型',
//                    cancelValue: '取消',
//                    cancel: function () {},
//                    button: [
//                        {   value:'添加子菜单',
//                            callback: function () {
//                                create_child_menus(treeId,treeNode)
//                                return;
//                            },
//                            autofocus: true
//                        },
////                        {   value: '添加操作',
////                            callback: function () {
////                                create_child_operation(treeId,treeNode)
////                            },
////
////
////                            autofocus: true
////                        }
//                    ]
//                }).show();
//            }

            return false;
        });
     <% end %>
    }
    function addHoverDom2(treeId,treeNode){
        <%if @add_flag %>
        if (treeNode.level == 0) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                    + "' title='添加子节点' onfocus='this.blur();'></span>";
            sObj.after(addStr);
        }
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function() {
            var zTree = $.fn.zTree.getZTreeObj(treeId)
            var d2 = dialog({
                title:'新建子节点',
                content:'<%= form_for('@menu',remote:true,html:{id:'doc_form'}) do |f| %><%= f.label "角色名" %><%= f.text_field :name,id:'role2_name',name:'name',class:"form-control"%><%= f.label "英文代称" %><%= f.text_field :code,id:'role2_code',name:'code',class:"form-control"%><%= f.label "说明" %><%= f.text_field :instruction,id:'role2_instruction',name:'instruction',class:"form-control"%></div><% end %>',
                okValue: '确定',
                ok: function () {
                    $.ajax({
                        type: 'post',
                        url: '/role2s',
                        data: {name:$('#role2_name').val(),code:$('#role2_code').val(),instruction:$('#role2_instruction').val()},
                        success: function (data, response) {
                            if (data['success']) {
                                zTree.addNodes(treeNode, data['data']);
                                d2.close().remove()
                            }else{
                                alert(data['error'])
                            }
                        },
                        error: function () {
                        }
                    })
                    return false;
                },
                cancelValue: '取消',
                cancel: function () {}
            }).show();
        })
        <% end %>
    }
    function create_child_menus(treeId,treeNode){

        var parentNode = treeNode.getParentNode()
        var content = ''
        if (treeNode.name=='医生管理'|| treeNode.name=='患者管理'){
            content = '<%= form_for("@menu",remote:true,html:{id:"doc_form"}) do |f| %><%= f.label "名称" %><%= f.text_field :name, id:"menu_name",class:"form-control" %><div id="menus_name"><%= render partial: "menus/form_hospital" %></div></div><%= f.label "操作" %><div id="menus_priority"><%= render partial: "menus/form_priority" %></div><%= f.label :URI %><input type="text" id="menu_uri" name="uri" value="'+treeNode.uri+'" class="form-control" readonly/><%#= f.text_field :uri,id:"menu_uri",name:"uri",value:"/",disabled:"disabled",class:"form-control"%></div><% end %>'
        }else if(parentNode !=null && (parentNode.name=='医生管理'|| parentNode.name=='患者管理')){
            content = '<%= render  partial: 'menus/get_dep'%><%= form_for("@menu",remote:true,html:{id:"doc_form"}) do |f| %><%= f.label "名称" %><%= f.text_field :name, id:"menu_name",class:"form-control" %><div id="menus_department"><div style="display:none;"><select id="menu_hospital_id"><option value="'+treeNode.hospital_id+'">'+treeNode.name+'<option></select></div><div id="menu_department"></div><%#= render partial: "menus/form_department" %></div></div><%= f.label "操作" %><div id="menus_priority"><%= render partial: "menus/form_priority" %></div><%= f.label :URI %><input type="text" id="menu_uri" name="uri" value="'+treeNode.uri+'" class="form-control" readonly/><%#= f.text_field :uri,id:"menu_uri",name:"uri",value:"/",disabled:"disabled",class:"form-control"%></div><% end %>'
        }else{
            content = '<%= form_for("@menu",remote:true,html:{id:"doc_form"}) do |f| %><%= f.label "名称" %><%= f.text_field :name, id:"menu_name",class:"form-control" %></div><%= f.label "操作" %><div id="menus_priority"><%= render partial: "menus/form_priority" %></div><div id="uri"><%= f.label :URI %><br><select name="menu_uri" id="menu_uri"><option></option><% @menu_uris = MenuUri.all %><% if !@menu_uris.empty? %><% @menu_uris.each do |menu_uri| %><option id="<%= menu_uri.menu_uri %>" value="<%= menu_uri.menu_uri %>"><%= menu_uri.menu_uri %></option><% end %><% end %></select></div><% end %>'
        }
        var zTree=$.fn.zTree.getZTreeObj(treeId)
        var dl = dialog({
            title:'新建子节点',
            id: 'testID',
            content: ''+content,
            okValue: '确定',
            ok: function () {
                $.ajax({
                    type: 'post',
                    url: '/menus',
                    data: {parent_id:treeNode.id,name:$('#menu_name').val(),hospital_id:$('#menu_hospital_id').val(),department_id:$('#menu_department_id').val(),parent_name:treeNode.id,uri:$('#menu_uri').val(),priority:$('#menu_priorities').val()},
                    success: function (data, response) {
                        if (data['success']) {
                            var child = treeNode.children
                            for (var j = child.length - 1; j >= 0; j--) {
                                if (('' + child[j].id).indexOf("_") > 0) {
                                    zTree.removeNode(child[j]);
                                }
                            }
                            zTree.addNodes(treeNode, data['data']);
                            dl.close().remove()
                        }else{
                            alert(data['data'])
                        }
                    },
                    error: function () {
                    }
                })
                return false;
            },
//            button:[
//                {
//                    value: '确定',
//                    callback: function () {
//
//
//                    },
//                    disabled: true,
//                    autofocus: true
//                },
//            ],

            cancelValue: '取消',
            cancel: function () {}
        }).width(320).show();
    }
    function create_child_operation(treeId,treeNode){
        var zTree=$.fn.zTree.getZTreeObj(treeId)
        dialog({
            title:'新建子节点',
            id: 'testID',
            content: '名称:<input class="form-control" type="text" value="'+treeNode.name+'" readonly/><%= form_for('@menu',remote:true,html:{id:'doc_form'}) do |f| %><%= f.label "操作" %><div id="menus_priority"><%= render partial: 'menus/form_priority' %></div></div><% end %>',
            okValue: '确定',
            ok: function () {
                $.ajax({
                    type: 'post',
                    url: '/menu_permissions/create_by_menu',
                    data: {menu_id:treeNode.id,priority:$('#menu_priorities').val()},
                    success: function (data, response) {
                        console.log(data)
                        var data = data['priorities']
                        for(var i=0;i<data.length;i++){
                            var s = zTree.getNodesByParam("id", data[i].id,treeNode);
                            if (s.length==0) {
                                zTree.addNodes(treeNode, data[i]);
                            }
                        }
                    },
                    error: function () {

                    }
                })
//                return false;
            },
            cancelValue: '取消',
            cancel: function () {}
        }).width(320).show();
    }
    function removeHoverDom(treeId,treeNode){
        $("#addBtn_"+treeNode.tId).unbind().remove();
    }

    function onClick(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        var tree_node = treeNode
        while (tree_node.level > 0){
//            if (tree_node.level > 0){
                tree_node.checked=true
                treeObj.updateNode(tree_node);
                tree_node = tree_node.getParentNode()
//            }

        }
        var child_nodes=[]
        var child_nodes=getChildren(child_nodes,treeNode);
        for (var i=0; i<child_nodes.length;i++){
            child_nodes[i].checked=true
            treeObj.updateNode(child_nodes[i]);
        }
    }

    function getChildren(child_nodes,treeNode){  //获取所有子结点
        child_nodes.push(treeNode);
        if (treeNode.isParent){
            for(var obj in treeNode.children){
                getChildren(child_nodes,treeNode.children[obj]);
            }
        }
        return child_nodes;
    }

    function zTreeOnDrag(event, treeId, treeNodes) {
        alert(treeNodes[0].id);
    };

    function inner(treeId,treeNodes,targetNode){     //目标结点必须是根结点以外的
        if(targetNode.level>0){
            return true
        }else{
            return false
        }

    }
    function per_inner(treeId,treeNodes,targetNode){
        if ((''+(treeNodes[0].id)).indexOf("_")>0 || (''+(targetNode.id)).indexOf("_")>0) {
            return false;
        }
        return true;
    }
    function setRemoveBtn(treeId, treeNode) {  //判断是否为根结点,根结点不可删除
        <%if @delete_flag %>
        if (treeNode.level == 0)
            return false;
        else
            return true;
        <% else %>
            return false;
        <% end %>
    }
    function beforeDrag(treeId, treeNodes){
        <%if @update_flag %>
        for (var i=0,l=treeNodes.length; i<l; i++) {
            if (treeNodes[i].drag === false) {
                return false;
            }
        }
        if (treeNodes[0].level==0) {
            return false
        }
        var treeObj=$.fn.zTree.getZTreeObj("perTree"),
                nodes2=treeObj.getCheckedNodes(true);
//        if (nodes2.length==0){
//            alert('请勾选后拖拽!')
//            return false;
//        }
        return true;
        <% end %>
        return false
    }

    function beforeDrop(treeId, treeNodes, targetNode, moveType) {
        var drag_id
        drag_id=treeNodes[0]['id'] //获取被拖拽的id
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        var nodes = treeObj.getNodesByParam("id", drag_id,targetNode);    //查找用户是否已经存在此菜单节点
        if( treeId == 'roleTree'){
            var right_treeObj = $.fn.zTree.getZTreeObj(treeId);
            var treeObj=$.fn.zTree.getZTreeObj("perTree"),
                    nodes2=treeObj.getCheckedNodes(true);
            var target_node = targetNode
            var target_Node = null
            while (target_node.getParentNode()!=null){
                if (target_node.level==1){
                    target_Node = target_node
                }
                target_node = target_node.getParentNode()
            }
            var tree_nodes = []
            var tree_node = treeNodes[0]
            while (tree_node.getParentNode()!=null){
                tree_node = tree_node.getParentNode()
                if (tree_node.level>0){
                    tree_nodes.push(tree_node)
                }
            }
            var child_nodes = []
            for (var i=tree_nodes.length-1;i>=0;i--){
                child_nodes.push(tree_nodes[i])
            }
            var trees = []
            nodes2=child_nodes.concat(getChildren(trees,treeNodes[0]))
//            for (var obj in child_nodes){
//                alert(child_nodes[obj].name)
//            }
//            alert(target_Node.name)
            var nodes = right_treeObj.getNodesByParam("id", drag_id,target_Node);
            if (nodes.length==0) {
                if (true) {
                    var right_parent_nodes = right_treeObj.getNodesByParam("id", treeNodes[0].pId, target_Node);
                    var param_nodes = []
                    var tree_nodes=[]
                    var flag=true
                    for (var i = 0; i < nodes2.length; i++) {
                        if (nodes2[i].level>0) {
                            var node_i = {id: nodes2[i].id, name: nodes2[i].name, pId: nodes2[i].pId, menu_permission_id: nodes2[i].menu_permission_id}
                            var is_right_nodes = right_treeObj.getNodesByParam("id", nodes2[i].id, target_Node);
                            if (is_right_nodes.length == 0) {
                                tree_nodes.push(node_i)
                            } else {
                                flag = false
                            }
                            param_nodes.push(node_i)
                        }
                    }
                    if (flag){
//                        alert('a')
                        right_treeObj.addNodes(target_Node, tree_nodes);
                    }else{
//                        alert('b')
                        var first_nodes = right_treeObj.getNodesByParam("id", tree_nodes[0].pId, target_Node);
                        right_treeObj.addNodes(first_nodes[0], tree_nodes);
                    }

                    var nodes3=right_treeObj.getNodesByParam("id", treeNodes[0].id, target_Node);
                    if (nodes3.length > 0) {
                        $.ajax({
                            type: 'post',
                            url: '/menus/drag',
                            data: {data: param_nodes, targetNode: target_Node, nodes: treeNodes},
                            success: function (data, response) {
                            },
                            error: function () {

                            }
                        })
                    }
                    return false;
                }


                return targetNode ? targetNode.drop !== false : true;
            } else {
                alert('存在')
                return false;
            }
        }else if (treeId == 'perTree'){
            if ((''+(treeNodes[0].id)).indexOf("_")>0) {
                return false;
            }
            var is_exists = false
            var tar_child = targetNode.children
            for(var obj in tar_child){
                if (tar_child[obj].id == (treeNodes[0].id)) {
                  is_exists = true
                }
            }
            if (!is_exists) {
                $.ajax({
                    type: 'post',
                    url: '/menus/drag2',
                    data: {targetNode: targetNode.id, nodes: treeNodes[0].id},
                    success: function (data, response) {
                    },
                    error: function () {

                    }
                })
                return targetNode ? targetNode.drop !== false : true;
            }else{
                alert('存在')
                return false;
            }
        }else{
            return false;
        }

    };

    function onDrop(event, treeId, treeNodes, targetNode, moveType){
        var treeObj=$.fn.zTree.getZTreeObj("perTree"),
                nodes2=treeObj.getCheckedNodes(true);
        var right_treeObj = $.fn.zTree.getZTreeObj("roleTree");
//        判断是否拖拽成功
        var nodes=right_treeObj.getNodesByParam("id", treeNodes[0].id, null);
        var param_nodes = []
        for (var i = 0; i < nodes2.length; i++) {
            var node_i = {id: nodes2[i].id, name: nodes2[i].name, pId: nodes2[i].pId}
            var is_right_nodes = right_treeObj.getNodesByParam("id", nodes2[i].id, targetNode);
            param_nodes.push(node_i)
        }
        if (nodes.length>0) {
            $.ajax({
                type: 'post',
                url: '/menus/drag',
//                data: {data: param_nodes,targetNode:targetNode,nodes:treeNodes},
                success: function (data, response) {
//                    right_treeObj.reAsyncChildNodes
//                    right_treeObj.refresh();
//                    $.fn.zTree.init($("#roleTree"), roleSetting, roleNodes);
                },
                error: function () {

                }
            })
        }
    } ;

    function beforeDrag2(treeId, treeNodes){
        <%if @update_flag %>
        for (var i=0,l=treeNodes.length; i<l; i++) {
            if (treeNodes[i].drag === false) {
                return false;
            }
        }
        if (treeNodes[0].level!=1){
            return false
        }
        return true;
        <% end %>
        return false;
    }

    function beforeDrop2(treeId, treeNodes, targetNode, moveType) {
       if (treeId == 'admin2Tree'){
        var drag_id
        drag_id=treeNodes[0]['id'] //获取被拖拽的id
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        var target_node = targetNode
        var target_Node = null
        while (target_node.getParentNode()!=null){
            if (target_node.level==1){
                target_Node = target_node
            }
            target_node = target_node.getParentNode()
        }
        var nodes = treeObj.getNodesByParam("id", drag_id,target_Node);    //查找用户是否已经存在此菜单节点
        if (nodes.length==0) {
            if (true){
                var treeObj = $.fn.zTree.getZTreeObj(treeId);
                treeObj.addNodes(target_Node, treeNodes);
                var nodes2 = treeObj.getNodesByParam("id", drag_id, target_Node);
                if (nodes2.length > 0) {
                    $.ajax({
                        type: 'post',
                        url: '/admin2s_role2s',
                        data: {sourceNode: treeNodes[0], targetNode: target_Node},
                        success: function (data, response) {
                        },
                        error: function () {

                        }
                    })
                }
                return false;
            }
            return targetNode ? targetNode.drop !== false : true;
        }else{
            alert('存在!')
            return false;
        }
       }else{
           return false;
       }
    };

    function update_menus(treeId,treeNode){
        var zTree=$.fn.zTree.getZTreeObj(treeId)
        var dg = dialog({
            title:'修改节点',
            id: 'testID',
            content: '<%= render partial: 'menus/edit_priority_ids' %><input type="hidden" id="priority_ids_field" value="'+treeNode.priority_ids+'"><input id="edit_menus_uri_value" type="hidden" value="'+treeNode.uri+'"/>名称:<input class="form-control" id="edit_menus_name" type="text" value="'+treeNode.name+'"/><%= form_for('@menu',remote:true,html:{id:'doc_form'}) do |f| %><%= f.label "操作" %><div id="edit_menus_priority"><select multiple name="priorities" id="menu_priorities"><%#= options_from_collection_for_select(@priorities, 'id', 'name',@menu.priority_ids) %><% @priorities = Priority.all %><% @priorities.each do |hos| %><option value="<%= hos.id %>" id="priority_<%= hos.id %>"><%= hos.name %></option><% end %></select></div></div><% end %>URI:<br><select name="edit_menus_uri" id="edit_menus_uri"><option></option><% @menu_uris = MenuUri.all %><% if !@menu_uris.empty? %><% @menu_uris.each do |menu_uri| %><option id="<%= menu_uri.menu_uri %>" value="<%= menu_uri.menu_uri %>"><%= menu_uri.menu_uri %></option><% end %><% end %></select>',
            okValue: '确定',
            ok: function () {
                $.ajax({
                    type: 'post',
                    url: '/menu_permissions/create_by_menu',
                    data: {name:$('#edit_menus_name').val(),menu_id:treeNode.id,priority:$('#menu_priorities').val(),uri:$('#edit_menus_uri').val()},
                    success: function (data, response) {
                        if (data['success']) {
                            console.log(data)
                            treeNode.name = data["menu"]["name"]
                            treeNode.uri = data["menu"]["uri"]
                            treeNode.priority_ids = data["menu"]["priority_ids"]
                            treeNode.menu_permission_id = data["menu"]["menu_permission_id"]
                            treeNode.hospital_id = data["menu"]["hospital_id"]
                            zTree.updateNode(treeNode);
                            var child = treeNode.children
                            for (var j = child.length - 1; j >= 0; j--) {
                                if (('' + child[j].id).indexOf("_") > 0) {
                                    zTree.removeNode(child[j]);
                                }
                            }
                            var data = data["priorities"]
                            for(var i=0;i<data.length;i++){
                                var s = zTree.getNodesByParam("id", data[i].id,treeNode);
                                if (s.length==0) {
                                    zTree.addNodes(treeNode, data[i]);
                                }
                            }
                            dg.close().remove()
                        }else{
                            alert(data['error'])
                        }

                    },
                    error: function () {

                    }
                })
                return false;
            },
            cancelValue: '取消',
            cancel: function () {}
        }).width(320).show();
    }

    function beforeEditName(treeId, treeNode) {
//        if (treeNode.isParent) {
//            var flag = true
//            for (var obj in treeNode.children) {
//                if ((''+treeNode.children[obj].id).indexOf("_") > 0){
//                    flag = false
//                }
//            }
//            if (flag){
//                className = (className === "dark" ? "" : "dark");
//                var zTree = $.fn.zTree.getZTreeObj(treeId);
//                zTree.selectNode(treeNode);
//                return confirm("进入节点 -- " + treeNode.name + " 的编辑状态吗？");
//            }else{
//                update_menus(treeId,treeNode)
//                beforeRename(treeId, treeNode,$('#edit_menus_name').val() , false)
//                return false
//            }
//        } else{
            update_menus(treeId,treeNode)
            beforeRename(treeId, treeNode,$('#edit_menus_name').val() , false)
            return false
//        }
    }

    function beforeEditName2(treeId, treeNode) {
//        className = (className === "dark" ? "" : "dark");
//        var zTree = $.fn.zTree.getZTreeObj(treeId);
//        zTree.selectNode(treeNode);
//        return confirm("进入节点 -- " + treeNode.name + " 的编辑状态吗？");
        update_roles(treeId,treeNode)
        return false
    }

    function update_roles(treeId,treeNode){
        var zTree=$.fn.zTree.getZTreeObj(treeId)
        var rd = dialog({
            title:'修改节点',
            id: 'testID',
            content: '名称:<input class="form-control" id="edit_roles_name" type="text" value="'+treeNode.name+'"/>英文代称:<input class="form-control" id="edit_roles_code" type="text" value="'+treeNode.code+'"/>说明:<input class="form-control" id="edit_roles_instruction" type="text" value="'+treeNode.instruction+'"/>',
            okValue: '确定',
            ok: function () {
                $.ajax({
                    type: 'put',
                    url: '/role2s/update_name',
                    data: {name:$('#edit_roles_name').val(),id:treeNode.id,code:$('#edit_roles_code').val(),instruction:$('#edit_roles_instruction').val()},
                    success: function (data, response) {
                        if (data['success']) {
                            console.log(data)
                            treeNode.name = data["role"]["name"]
                            treeNode.code = data["role"]["code"]
                            treeNode.instruction = data["role"]["instruction"]
                            zTree.updateNode(treeNode);
                            rd.close().remove()
                        }else{
                            alert(data['error'])
                        }

                    },
                    error: function () {

                    }
                })
                return false;
            },
            cancelValue: '取消',
            cancel: function () {}
        }).width(320).show();
    }

    function beforeRename(treeId, treeNode, newName, isCancel) {
        className = (className === "dark" ? "" : "dark");
        if (newName.length == 0) {
            alert("节点名称不能为空.");
            var zTree = $.fn.zTree.getZTreeObj(treeId);
            setTimeout(function () { zTree.editName(treeNode) }, 10);
            return false;
        }
        return true;
    }

    function onRename(e, treeId, treeNode, isCancel) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        $.ajax({
            url: '/menus/update_name', //url  action是方法的名称
            data: { id: treeNode.id, name: treeNode.name },
            type: 'PUT',
            success: function (data) {
               alert('"'+data.name+'"保存成功!')
            }
        });
        return false;

    }
    function onRename2(e, treeId, treeNode, isCancel) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        $.ajax({
            url: '/role2s/update_name', //url  action是方法的名称
            data: { id: treeNode.id, name: treeNode.name },
            type: 'PUT',
            success: function (data) {
                alert('"'+data.name+'"保存成功!')
            }
        });
        return false;

    }

    //    删除之前的确定操作
    function beforeRemove(treeId, treeNode){
        var msg = treeNode.isParent ? "确定删除父节点？":"确定删除此节点？"
        if (confirm(msg)==true){
            return true
        }
        return false
    };
    function onRemove(event, treeId, treeNode) {
//        alert(treeNode)
//        var nodes=new Array();
        var tree_node = {id:treeNode.id,name:treeNode.name,menu_permission_id:treeNode.menu_permission_id}
//        nodes.push(tree_node)
        $.ajax({
            type:'delete',
            url:'/menus/remove_nodes2',
            data: {data: tree_node},
            success: function (data, response) {

            }
        })
    }
    function onRemove2(event, treeId, treeNode){
        var right_treeObj = $.fn.zTree.getZTreeObj("roleTree");
        var parent_menu=null,target_node,tree_node = treeNode
        while (tree_node!=null){
            if (tree_node.level==1){
                target_node = tree_node
            }
            if (tree_node.level==2){
                parent_menu = tree_node
            }
            tree_node = tree_node.getParentNode()
        }
        target_node = {id:target_node.id,name:target_node.name}
        //注释部分:当父结点的子结点为空时,同时删除父结点
        var t_node = treeNode
        if (t_node.getParentNode().children.length==0 && (''+t_node.id).indexOf('_')>0){
            right_treeObj.removeNode(t_node.getParentNode());
        }
//        while(t_node.getParentNode().level>1){
//            var p_node = t_node.getParentNode()
//            if (t_node.getParentNode().children.length==0){
//                right_treeObj.removeNode(t_node.getParentNode());
//            }
//            t_node = p_node
//        }
        var tree_node = {id:treeNode.id,name:treeNode.name,pId:treeNode.pId,menu_permission_id:treeNode.menu_permission_id}
        if (parent_menu!=null){
            parent_menu = {id:parent_menu.id,name:parent_menu.name}
        }

        $.ajax({
            type:'delete',
            url:'/menus/remove_nodes',
            data: {data: tree_node,targetNode:target_node,parent_menu:parent_menu},
            success: function (data, response) {

            }
        })
    }
    function setRemoveBtn3(treeId, treeNode){
        <%if @delete_flag %>
        if (treeNode.level>1){
            return true;
        }
        <% end %>
        return false;

    }

    function onRemove3(event, treeId, treeNode) {
        var tree_node = {id:treeNode.id,name:treeNode.name}
        $.ajax({
            type:'delete',
            url:'/admin2s_role2s/remove_nodes',
            data: {sourceNode: tree_node,targetNode:treeNode.getParentNode()},
            success: function (data, response) {

            }
        })
    }


    //    var perNodes =[
//        { id:1, pId:0, name:"权限管理", open:true},
//        { id:2, pId:1, name:"字典管理"},
//        { id:3, pId:1, name:"医院管理"},
//        { id:5, pId:1, name:"视频管理"},
//        { id:6, pId:1, name:"文章管理"},
//        { id:7, pId:1, name:"孕育知识管理"},
//        { id:8, pId:1, name:"用户管理"},
//        { id:9, pId:3, name:"清华大学玉泉医院"},
//        { id:10, pId:3, name:"武警总医院"},
//        { id:11, pId:3, name:"海南省人民医院"},
//        { id:12, pId:3, name:"海南省第二人民医院"},
//        { id:13, pId:3, name:"东方市人民医院"},
//
//        { id:19, pId:23, name:"添加"},
//        { id:20, pId:23, name:"删除"},
//        { id:21, pId:23, name:"修改"},
//        { id:22, pId:23, name:"查看"},
//        { id:23, pId:9, name:"医生"},
//        { id:24, pId:9, name:"患者"},
//
//        { id:25, pId:24, name:"添加"},
//        { id:26, pId:24, name:"删除"},
//        { id:27, pId:24, name:"修改"},
//        { id:28, pId:24, name:"查看"},
//
//
//        { id:29, pId:10, name:"医生"},
//        { id:30, pId:10, name:"患者"},
//        { id:31, pId:29, name:"添加"},
//        { id:32, pId:29, name:"删除"},
//        { id:33, pId:29, name:"修改"},
//        { id:34, pId:29, name:"查看"},
//
//        { id:35, pId:30, name:"添加"},
//        { id:36, pId:30, name:"删除"},
//        { id:37, pId:30, name:"修改"},
//        { id:38, pId:30, name:"查看"},
//
//        { id:39, pId:2, name:"省市县字典"},
//        { id:40, pId:2, name:"医院字典"},
//
//
//        { id:41, pId:39, name:"添加"},
//        { id:42, pId:39, name:"删除"},
//        { id:43, pId:39, name:"修改"},
//        { id:44, pId:39, name:"查看"}
//
////        { id:24, pId:10, name:"添加"},
////        { id:25, pId:10, name:"删除"},
////        { id:26, pId:10, name:"修改"},
////        { id:27, pId:10, name:"查看"}
//    ];
//
//    var roleNodes=[
//        {id:1,pId:0,name:"系统角色"},
//        {id:2,pId:1,name:"系统管理员"},
//        {id:3,pId:1,name:"超级管理员"},
//        {id:4,pId:1,name:"普通管理员"},
//        {id:5,pId:1,name:"玉泉医院管理员"},
//        {id:6,pId:1,name:"武警总医院管理员"}
//    ]

    var perNodes=<%= raw @total_menus.to_json %>
    var roleNodes=<%= raw @all_roles.to_json %>
    var admin2Nodes=<%= raw @admin2s_role2.to_json %>
    $(document).ready(function(){
        $.fn.zTree.init($("#perTree"), perSetting, perNodes);
        $.fn.zTree.init($("#roleTree"), roleSetting, roleNodes);
        $.fn.zTree.init($("#admin2Tree"), admin2Setting, admin2Nodes);
    });
    //-->
</SCRIPT>

<div id="ModuleManage">
  <div class="zTreeDemoBackground left col-md-3 box" style="width:30%;float:left;">
    <p class="title">系统权限：</p>
    <ul id="perTree" class="ztree"></ul>
  </div>

  <div class="pull-left" style="height:360px;line-height:360px;font-size:24px;margin-right:15px;margin-left:15px;">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </div>

  <div class="right col-md-3 box" style="width:30%;float:left;">
    <p class="title">系统角色：</p>
    <ul id="roleTree" class="ztree"></ul>
  </div>
  <div class="pull-left" style="height:360px;line-height:360px;font-size:24px;margin-right:15px;margin-left:15px;">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </div>

  <div class="right col-md-3 box" style="width:30%;float:left;">
    <p class="title">系统管理员：</p>
    <ul id="admin2Tree" class="ztree"></ul>
  </div>
  <style>
      #ModuleManage ul.ztree {
          margin-top: 10px;
           border-width:0;
           background: transparent;
           width: 100%;
          height: 360px;
          overflow-y: scroll;
          overflow-x: auto;}
      #ModuleManage ul.ztree a span{font-size:14px;}
  </style>
</div>
