<style>
    .select2-container {
        width: 150px;

    }
</style>
<div style="width: 100%">
  <div style="margin-left: 20px;margin-right: 20px;">
    <table id="doc_group_list"></table>
    <div id="page_doc_group"></div>
    <%= render :partial => 'groups/unrelated_docs_list'%>
  </div>
</div>

<script type="text/javascript">
    jQuery("#doc_group_list").jqGrid({
        url: '/groups/get_doctors?group_id=<%=@group.id  %>',
        datatype: "json",
        mtype: 'GET',
        colNames: [ 'ID', '姓名', '医院', '科室', '删除'],
        colModel: [
            { name: 'id', index: 'id', align: "left", key: 'id', hidden: true, width: 160},
            { name: 'name', index: 'name', align: "center", width: 120},
            {name: 'hospital_name', index: 'hospital_name', editable: true, search: false, width: 160 },
            {name: 'department_name', index: 'department_name', editable: true, search: false, width: 160 },
            { align: "center", edittype: 'custom', formatter: function (rowId, cellval, colpos, rwdat, _act) {
                return "<button value=\"删除\" onclick=\"delete_associate(" + colpos.id + ")\">删除</button>";
            }
            }
        ],
        rownumbers: true,
        page: 1,
        rowList: [10, 15, 20],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "doctors",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        },
        editurl: '',
        closeAfterAdd: true,
        pager: jQuery('#page_doc_group'),
        //   multiselect: true,
        rowNum: 10,
        altclass: 'altRowsColour',
        width: '500',
        height: 'auto',
        caption: "相关医生"
    });
    jQuery("#doc_group_list").jqGrid('navGrid', '#page_doc_group', {
                cloneToTop: true, add: false, edit: false,
                del: false, view: false, search: false,
                refreshtext: "更新", refreshtitle: "更新"}
    );
    //删除关联关系
    function delete_associate(id) {
        $.ajax({
            type: 'post',
            url: '/groups/del_doctor_group',
            data: {
                group_id: <%= @group.id %>,
                doctor_id: id
            },
            success: function (data) {
                if (data['success']) {
                    jQuery("#doc_list_group").jqGrid('setGridParam', {url: '/groups/get_unrelated_doctors?group_id=<%= @group.id  %>'}).trigger("reloadGrid");
                    jQuery("#doc_group_list").jqGrid('setGridParam', {url: '/groups/get_doctors?group_id=<%= @group.id  %>'}).trigger("reloadGrid");
                } else {
                    alert('删除失败!');
                }
            }
        })
    }
</script>