<!--列表模版-->
 <%= stylesheet_link_tag 'page_blocks/anlizongshu'%>
 <% if !@block_contents.nil? && !@block_contents.empty?%>
<div class="index_model_box_3_1">
  <div class="index_model_title">
    <h3 class="fl"><%= @page_block.name if !@page_block.nil? %></h3>
    <span class="fr index_model_more"><a href=<%=Settings.block_content_list+"/?page_block=#{@page_block.id}"%> target="_blank">more</a></span>
  </div>
  <!--文章列表-->
  <ul class="index_model_article">
    <% @block_contents.limit(5).each do |block_content|%>
    <li>
      <!--<a href=#{block_content.url}>-->
      <a href=<%=Settings.block_content+"/?content_id=#{block_content.id}"%> target="_blank">
        <span class="fr index_model_date"><%= block_content.create_date%></span>
        <span class="fl index_model_blue_dot"><%= block_content.title.length > 17 ? block_content.title[0,17] << '...' : block_content.title  %></span>
      </a>
    </li>
    <div style="clear:both;"></div>

     <%end%>


  </ul>
</div>
 <%else%>
    <!--空模版-->
    <div class="index_model_box_3_1">
      <div class="index_model_title">
        <!--<h3 class="fl">区块名称</h3>-->
        <h3 class="fl"><%=@block_name %></h3>
        <span class="fr index_model_more"><a href="" style="color:#666;">more</a></span>
      </div>
      <!--文章列表-->
      <ul class="index_model_article">
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题一</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题二</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题三</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题四</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题五</span>
          </a>
        </li>
      </ul>
    </div>
 <%end%>
