
<!--title_list-->

 <% if !@block_contents.nil?%>
<div class="index_model_box_3_1">
  <div class="index_model_title">
    <h3 class="fl"><%= @page_block.name if !@page_block.nil? %></h3>
    <span class="fr index_model_more"><a href=<%=Settings.block_content+"/?block_id=#{@page_block.id}"%>>more</a></span>
  </div>
  <!--文章列表-->
  <ul class="index_model_article">
    <% @block_contents.each do |block_content|%>
    <li>
      <!--<a href=#{block_content.url}>-->
      <a href=<%=Settings.block_content+"/?content_id=#{block_content.id}"%>>
        <span class="fr index_model_date"><%= block_content.create_date%></span>
        <span class="fl index_model_blue_dot"><%= block_content.title.length > 20 ? block_content.title[0,20] << '...' : block_content.title  %></span>
      </a>
    </li>
    <div style="clear:both;"></div>

     <%end%>


  </ul>
</div>
 <%else%>
    <!--空模版-->
    <div class="index_model_box_3_1">
      <div class="index_model_title">
        <!--<h3 class="fl">区块名称</h3>-->
        <h3 class="fl"><%=@block_name %></h3>
        <span class="fr index_model_more"><a href="">more</a></span>
      </div>
      <!--文章列表-->
      <ul class="index_model_article">
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题一</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题二</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题三</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题四</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题五</span>
          </a>
        </li>
      </ul>
    </div>
 <%end%>
<style>
    .index_model_box_3_1 {
        width: 388px;
        height: 222px;
        overflow: hidden;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }

    /*屏幕尺寸大于1200px */
    @media (min-width: 1200px) {

        .index_model_box_3_1 {
            width: 388px;
            min-height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于960px*/
    @media (max-width: 960px) {

        .index_model_box_3_1 {
            width: 33%;
            height: 222px;
            overflow: hidden;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于480px*/
    @media (max-width: 683px) {
        .index_model_box_3_1 {
            width: 100%;
            overflow: hidden;
            height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }
    /*文章列表*/
    .index_model_article a .index_model_blue_dot{
        background: url(<%= asset_path 'dot_blue_light.png'%>) no-repeat left center;
        padding-left: 15px;
        width: 75%;
        font-size: 13px;
        color: #666;
        font-family: "Microsoft YaHei", Arial;
    }

    .index_model_article a .index_model_blue_dot:hover {
        background: url(<%= asset_path 'dot_blue.png'%>) no-repeat left center;
        padding-left: 15px;
        font-family: "Microsoft YaHei", Arial;
    }

    .index_model_article {
        margin-top: 10px;
    }

    .index_model_article li {
        line-height: 30px;
        font-size: 13px;
    }

    .index_model_article li a {
        font-size: 13px;
    }

    .index_model_article a .index_model_date {
        color: #999999;
        font-size: 12px;
        font-family: "Microsoft YaHei", Arial;
    }

    /*模块标题*/
    .index_model_title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px dotted #e4e9f0;
    }

    .index_model_title h3 {
        height: 30px;
        line-height: 30px;
        font-family: "Microsoft YaHei", Arial;
        font-size: 20px;
        font-weight: bold;
        color:#000;
        margin: 0;
        padding: 0;
        display: inline-block;
        border-bottom: 2px solid #1fa0d8;
    }

    .index_model_more {
        color: #666;
    }

    ul li {
        list-style: none;
    }

    ul, li, div {
        margin: 0;
        padding: 0;
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }
</style>
