<!--列表模版-->

 <% if !@block_contents.nil? && !@block_contents.empty?%>
<div class="a3">
  <div class="acon">
  <div class="index_model_title">
    <h3 class="fl"><%= @page_block.name if !@page_block.nil? %></h3>
    <span class="fr index_model_more"><a href=<%=Settings.block_content_list+"/?page_block=#{@page_block.id}"%> target="_blank">more</a></span>
  </div>
  <!--文章列表-->
  <ul class="index_model_article">
    <% @block_contents.limit(5).each do |block_content|%>
    <li>
      <!--<a href=#{block_content.url}>-->
      <a href=<%=Settings.block_content+"/?content_id=#{block_content.id}"%> target="_blank">
        <span class="fr index_model_date"><%= block_content.create_date%></span>
        <span class="fl index_model_blue_dot"><%= block_content.title.length > 17 ? block_content.title[0,17] << '...' : block_content.title  %></span>
      </a>
    </li>
    <div style="clear:both;"></div>

     <%end%>

  </ul>
  </div>
</div>
 <%else%>
    <!--空模版-->
    <div class="a3">
      <div class="acon">
      <div class="index_model_title">
        <!--<h3 class="fl">区块名称</h3>-->
        <h3 class="fl"><%=@block_name %></h3>
        <span class="fr index_model_more"><a href="" style="color:#666;">more</a></span>
      </div>
      <!--文章列表-->
      <ul class="index_model_article">
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题一</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题二</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题三</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题四</span>
          </a>
        </li>
        <div style="clear:both;"></div>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题五</span>
          </a>
        </li>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题六</span>
          </a>
        </li>
        <li>
          <a>
            <span class="fr index_model_date">2014-12-3</span>
            <span class="fl index_model_blue_dot">标题七</span>
          </a>
        </li>
      </ul>
      </div>
    </div>
 <%end%>

<style>

    .a3 {
        width:33.33%;
        min-width:300px;
        height:288px;
        overflow:hidden;
        float:left;
        padding:0.5% 0.3%;


    }
    .acon{
        width:100%;
        height:282px;
        display:inline-block;
        border: 1px solid #e8e8e8;
        background:#fff;
        word-break:break-all;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
        padding:15px;
    }

        /*文章列表*/
    .a3 .index_model_article a .index_model_blue_dot{
        background: url(<%= asset_path 'dot_blue_light.png'%>) no-repeat left center;
        padding-left: 15px;
        width: 70%;
        font-size: 13px;
        color: #666;
        font-family: "Microsoft YaHei", Arial;
    }

    .a3 .index_model_article a .index_model_blue_dot:hover {
        background: url(<%= asset_path 'dot_blue.png'%>) no-repeat left center;
        padding-left: 15px;
        font-family: "Microsoft YaHei", Arial;
    }

    .a3 .index_model_article {
        margin-top: 10px;
    }

    .a3 .index_model_article li {
        line-height: 30px;
        font-size: 13px;
    }

    .a3 .index_model_article li a,.a3 .index_model_more a{
        font-size: 13px;
    }

    .a3 .index_model_article a .index_model_date {
        color: #999999;
        font-size: 12px;
        font-family: "Microsoft YaHei", Arial;
    }

        /*模块标题*/
    .a3 .index_model_title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px dotted #e4e9f0;
    }

    .a3 .index_model_title h3 {
        height: 30px;
        line-height: 30px;
        font-family: "Microsoft YaHei", Arial;
        font-size: 20px;
        font-weight: bold;
        color:#000;
        margin: 0;
        padding: 0;
        display: inline-block;
        border-bottom: 2px solid #1fa0d8;
    }

    .a3 .index_model_more,.index_model_more a {
        color: #888 !important;
    }
    .a3 .index_model_more a:hover{color:#000 !important;}
    ul li {
        list-style: none;
    }

    ul, li, div {
        margin: 0;
        padding: 0;
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }

</style>