
<% if !@doctors.nil? && !@doctors.empty? %>
    <div class="index_model_box_2_3">
      <% if !@doctor.nil? %>
      <dl class="doctor_list_box">
        <dt style="width:75px;height:99px">
          <input type="hidden" name="block_id" id="block_id" value="<%= @page_block.id if !@page_block.nil? %>">
          <%
             if !@doctor.photo.nil?&&@doctor.photo!='' %>
              <%= link_to image_tag(Settings.aliyunOSS.photo_url+@doctor.photo, size: "75x105", alt: @doctor.name, class: "img-responsive index_doc_photo", id: 'img_url'),
                          '#', :onclick => "showDoctorPage(#{@doctor.id}, 'str');return false;" %>

          <% else %>
              <%= link_to image_tag("default.png", size: "75x105", alt: @doctor.name, class: "img-responsive index_doc_photo", id: 'img_url'),
                          '#', :onclick => "showDoctorPage(#{@doctor.id}, 'str');return false;" %>
          <% end %></dt>
        <dd><b class="doctor_list_name" id="md_doc_name"><%= @doctor.name %></b></dd>
        <dd><input id="doctor_id" type="hidden">
          <b>医院</b>
          <span style="margin-right:10px;" id="md_doc_hospital_name"><%= @doctor.hospital.name unless @doctor.hospital.nil? %></span>
          <b>科室</b><span style="margin-right:10px;" id="md_doc_department_name"><%= @doctor.department.name unless @doctor.department.nil? %></span>
        </dd><% if !@doctor.introduction.nil? && @doctor.introduction.gsub(/\t|\r|\n|&nbsp;/, '').length > 80
                      @introduction = @doctor.introduction.gsub(/\t|\r|\n|&nbsp;/, '')[0, 80] << '...'
                  else
                      @introduction = @doctor.introduction.nil? ? '' : @doctor.introduction.gsub(/\t|\r|\n|&nbsp;/, '').squeeze(' ')
                  end
             %>
        <dd><b>简介</b><span style="margin-right:10px;" id="md_doc_description"><%= @introduction %></span>
        </dd>
      </dl>
      <% end %>
      <div style="clear:both"></div>
      <ul class="doctor_list_lists" id="doctor_list">
        <% if !@doctors.nil? && !@doctors.empty? %>
            <% @doctors.limit(10).each do |doctor| %>
                <li style="width:55px;height:77px">
                  <% if !doctor.photo.nil?&&doctor.photo!='' %>
                      <%= link_to image_tag(Settings.aliyunOSS.photo_url+doctor.photo,
                                            id: 'img_url',
                                            src: doctor.photo,
                                            size: "55x77",
                                            title: doctor.name,
                                            alt: doctor.name,
                                            class: "img-responsive index_doc_photo",
                                            onclick: "showDoctorPage(#{doctor.id}, '');return false;",
                                            onmouseover: "change_doctor(#{doctor.id});return false;"
                                  ),
                                  '#',
                                  :class => "pl"
                      %>
                  <% else %>
                      <%= link_to image_tag("default.png",
                                            id: "img_url",
                                            src: doctor.photo,
                                            size: "55x77",
                                            title: doctor.name,
                                            alt: doctor.name,
                                            class: "img-responsive index_doc_photo",
                                            onclick: "showDoctorPage(#{doctor.id}, '');return false;",
                                            onmouseover: "change_doctor(#{doctor.id});return false;"
                                  ),
                                  '#',
                                  :class => "pl"
                      %>
                  <% end %></li>
                <% end %>
            <% end %>

        <div style="clear:both"></div>
      </ul>
    </div>
    <% else %>
    <div class="index_model_box_2_3">
      <dl class="doctor_list_box">
        <dt style="width:75px;height:99px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></dt>
        <dd><b class="doctor_list_name" id="md_doc_name">医生姓名xxx</b></dd>
        <dd>
          <b>医院</b>
          <span style="margin-right:10px;" id="md_doc_hospital_name">xxxx医院</span>
          <b>科室</b><span style="margin-right:10px;" id="md_doc_department_name">xxxx科室</span>
        </dd>
        <dd><b>简介</b><span style="margin-right:10px;" id="md_doc_description">医生简介 xxxxxxxxxxxxxxxxxxxxxxxx</span>
        </dd>
      </dl>
      <div style="clear:both"></div>
      <ul class="doctor_list_lists" id="doctor_list">
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <li style="width:55px;height:77px">
          <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo_photo.jpg"></li>
        <div style="clear:both"></div>
      </ul>
    </div>
<%end%>


<script>
  function change_doctor(id) {
        $.ajax({
            type: 'get',
            url: '/doctors/get_doctor_to_page',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if(data['success'] == true){
                    document.getElementById("img_url").src = "http://mimas-img.oss-cn-hangzhou.aliyuncs.com/" + data['doctor'].photo;
                    document.getElementById("img_url").alt = data['doctor'].name;
                    document.getElementById("img_url").title = data['doctor'].name;
                    var introduction;
                    if(data['doctor'].introduction == null || data['doctor'].introduction == ''){
                        introduction = ''
                    }else{
                        introduction = data['doctor'].introduction
                        if (introduction.length > 80){
                            introduction = introduction.replace(/[\r\n]/g, "").substr(0, 80) + '...'
                        }else{
                            introduction = introduction.replace(/[\r\n]/g, "").substr(0, 80)
                        }
                    }
                    document.getElementById("md_doc_description").innerHTML = introduction;
                    document.getElementById("md_doc_name").innerHTML = data['doctor'].name;
                    var hospital_name ;
                    if(data['doctor'] != null && data['doctor'].hospital != null){
                        hospital_name = data['doctor'].hospital.name;
                    }else{
                        hospital_name = '';
                    }
                    document.getElementById("md_doc_hospital_name").innerHTML = hospital_name;
                    var department_name;
                    if (data['doctor'] != null && data['doctor'].department != null) {
                        department_name = data['doctor'].department.name;
                    } else {
                        department_name = '';
                    }
                    document.getElementById("md_doc_department_name").innerHTML = department_name;
                    document.getElementById("doctor_id").value = data['doctor'].id;
                }else{
                    alert('信息获取失败!');
                }

            }
        })

    }
  function showDoctorPage(id, str) {
      if (str == 'str') {
          id = $('#doctor_id').val();
      }
      $.ajax({
                  type: 'get',
                  url: '/doctors/show_doctor',
                  data: {
                      id: id
                  },
                  success: function (data) {
                      var is_use;
                      is_use = data['success'];
                      console.log(is_use);
                      if (is_use == true) {
                          window.location.href = "/doctors/doctor_index?id=" + id
                      } else {
                          $('#content').html("<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'><div class='modal-dialog'><div class='alert alert-danger'>目前该医生尚未对外提供服务</div></div></div>");
                          $('#myModal').modal('show');
                          setTimeout(function () {
                              $('#myModal').modal('hide');
                          }, 1500);
                      }
                  }
              }
      )
  }
</script>


<style>

    .index_model_box_2_3 {
        width: 788px;
        height: 222px;
        overflow: hidden;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 15px;
        margin: 5px;
        float: left;
    }

    /*屏幕尺寸大于1200px */
    @media (min-width: 1200px) {

        .index_model_box_2_3 {
            width: 788px;
            min-height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }

    /*屏幕尺寸小于960px*/
    @media (max-width: 960px) {
        .index_model_box_2_3 {
            width: 64%;
            height: 222px;
            overflow: hidden;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }

    }

    /*屏幕尺寸小于480px*/
    @media (max-width: 683px) {
        .index_model_box_2_3 {
            width: 100%;
            overflow: hidden;
            height: 222px;
            border: 1px solid #e8e8e8;
            background: #fff;
            padding: 15px;
            margin: 5px;
            float: left;
        }
    }
    .doctor_list_box {
        width: 98%;
        margin: 0 auto;
        line-height: 30px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    .doctor_list_box dt {
        float: left;
        width: 75px;
        margin-right: 10px;
    }

    .doctor_list_box dd {
        line-height: 24px;
        float: left;
        width: 87%;
        font-family: "Microsoft YaHei", Arial;
        -webkit-margin-start: 0px !important;
    }
    .doctor_list_box dt img{
        width:100% !important;
        height:auto;
    }

    @media (max-width: 960px) {
        .doctor_list_box dd {
            line-height: 26px;
            float: left;
            width: 80%;
            font-family: "Microsoft YaHei", Arial;
            -webkit-margin-start: 0px !important;
        }
    }

    .doctor_list_box dd b {
        margin-right: 10px;
        font-family: "Microsoft YaHei", Arial;
        font-weight: bold;
        color: #666;
        font-size:13px;
    }

    .doctor_list_box dd span {
        font-family: "Microsoft YaHei", Arial;
        color: #666;
    }

    .doctor_list_name {
        font-family: "Microsoft YaHei", Arial;
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #000;
        font-size:16px !important;
    }

    .doctor_list_lists {
        width: 100%;
        margin-top:10px;
    }

    .doctor_list_lists li {
        float: left;
        margin: 10px;
    }
    .doctor_list_lists li img{
        width:100% !important;
        height:auto;
    }

</style>