<!--图文列表模板-->
<%= stylesheet_link_tag 'page_blocks/hospital_environment'%>
<% if !@block_contents.nil? && !@block_contents.empty? %>
<div class="index_model_box_1_1">
  <% @block_contents.limit(3).each do |block_content|%>
      <dl class="index_img_box">
        <dt><a href=<%=block_content.content_url.nil? ? '' : block_content.content_url<<"/?content_id=#{block_content.id}"%> target="_blank"><%= image_tag block_content.url%></a></dt>
        <dd><b><%=block_content.title %></b><br/>
          <%#=block_content.content_summary.gsub(/<[^>]+>/, '').gsub(/<\/?.*?>/, "")[0,45] %>
          <%=block_content.content_summary.nil? ? "" :block_content.content_summary[0,45] %> ...
        </dd>
      </dl>
  <%end%>
</div>
<%else%>
    <div class="index_model_box_1_1">
      <dl class="index_img_box">
        <dt><a href=""><img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo1.jpg"></a></dt>
        <dd><b>XXXX医院</b><br/>
          XXXX医院，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊...
        </dd>
      </dl>

      <dl class="index_img_box">
        <dt><a href=""><img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo2.jpg"></a></dt>
        <dd><b>XXXX医院</b><br/>
          XXXX医院，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊...
        </dd>
      </dl>

      <dl class="index_img_box">
        <dt><a href=""><img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/e_demo3.jpg"></a></dt>
        <dd><b>XXXX医院</b><br/>
          XXXX医院，是构建在国际最新肿瘤治疗技术平台基础上，以现代信息技术为手段，进行肿瘤国际会诊...
        </dd>
      </dl>

    </div>
    <%end%>

