<!--block_text 简介模板-->
<%= stylesheet_link_tag 'page_blocks/jianjie'%>
<% if !@block_contents.nil? && !@block_contents.empty?  %>
<div class="index_model_box_3_1">
  <div class="index_model_title">
    <h3 class="fl"><%= @page_block.name if !@page_block.nil?  %></h3>
    <span class="fr index_model_more"><a href=<%=Settings.block_content+"/?content_id=#{@block_contents.last.id}"%> target="_blank">more</a></span>
  </div>
  <p class="index_modle_text">
    <% @content = @block_contents.last.content.nil? ? '' : @block_contents.last.content.gsub(/<[^>]+>/, '').gsub(/\t|\r|\n|&nbsp;/, '')
       if @content.length > 180
         @content = @content[0, 180] << '...'
       else
         @content = @content
       end
    %>
       <%= @content %>
  </p>
</div>
 <%else%>
    <div class="index_model_box_3_1">
      <div class="index_model_title">
        <!--<h3 class="fl">区块名称</h3>-->
        <h3 class="fl"><%=@block_name %></h3>
        <span class="fr index_model_more"><a href="" style="color:#666;">more</a></span>
      </div>
      <p class="index_modle_text">
        xxxx医院，xxxx年xx月正式开院，是一所向社会开放的综合性医院。医院设有急诊科、神经科、内科、普外科、血液净化中心、骨科、手外科、泌尿外科、以执着的医志、高尚的医德书写了辉煌的历史
      </p>
    </div>
<%end%>
