 <!--绿色医疗的模板 图文模版-2-->
 <%= stylesheet_link_tag 'page_blocks/pic_text2'%>
 <% if !@block_contents.nil? && !@block_contents.empty? %>
     <div class="stickpagebody_box">
       <div class="img_text">

         <a class="g_more" href=<%= @block_contents.last.content_url+"/?content_id=#{@block_contents.last.id}" %> target="_blank"><img src=<%= @block_contents.last.url %>></a>
       </div>
       <div class="g_content">
         <a class="g_more" href=<%= @block_contents.last.content_url+"/?content_id=#{@block_contents.last.id}" %> target="_blank"><p class="g_title"><%= @block_contents.last.title%></p></a>
         <a class="g_more" href=<%= @block_contents.last.content_url+"/?content_id=#{@block_contents.last.id}" %> target="_blank"><p class="g_title2"><%= @block_contents.last.subtitle%></p></a>
         <p class="g_text">
           <% @content_summary = @block_contents.last.content_summary.nil? ? '' : @block_contents.last.content_summary.gsub(/<[^>]+>/, '').gsub(/\t|\r|\n|&nbsp;/, '')
              if @content_summary.length > 85
                @content_summary = @content_summary[0, 85] << '...'
              else
                @content_summary = @content_summary
              end
           %>
           <%= @content_summary %>

         </p>
         <a class="g_more" href=<%= @block_contents.last.content_url+"/?content_id=#{@block_contents.last.id}" %> target="_blank">| 查看更多</a>
       </div>
     </div>
         <%else%>
     <div class="stickpagebody_box">
       <div class="img_text">
         <img src="1.jpeg"/>
       </div>
       <div class="g_content">
         <p class="g_title">公共关系</p>
         <p class="g_title2">清华大学经管学院中国工商管理案例中心</p>
         <p class="g_text">6月28日清华大学绿色医疗学术交流会斯坦福医学院院长兼首席执行官（CEO）Amir Dan Rubin医院管理讲座,2013年10月12日清华大学绿色医疗院长交流班斯坦福专家与国内院长互动...</p>
         <a class="g_more" style="color:#41B669">| 查看更多</a>
       </div>
     </div>
     <%end%>



