<%= stylesheet_link_tag 'page_blocks/slides'%>
<% if !@block_contents.nil? && !@block_contents.empty? %>
<div class="index_model_box_p_1">
  <% if @block_contents.count == 1 %>
      <a href=<%= @block_contents.first.content_url.nil? ? '' : @block_contents.first.content_url+"/?content_id=#{@block_contents.first.id}"%> target="_blank"> <img src=<%= @block_contents.first.url %> height='300'></a>
  <% else %>
      <div id="slides2">
        <% @block_contents.each do |block_content| %>
           <a href=<%=block_content.content_url.nil? ? '' : block_content.content_url<<"/?content_id=#{block_content.id}"%> target="_blank"> <img src=<%= block_content.url %> height='300'></a>
        <% end %>
      </div>
  <% end %>
</div>
 <%else%>
    <div class="index_model_box_p_1">
      <div id="slides2">
        <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo1.jpg">
        <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo2.jpg">
        <img src="http://mimas-open.oss-cn-hangzhou.aliyuncs.com/assets/demo3.jpg">
      </div>
    </div>
<%end%>


<script>
    $(function () {

        /*
         To have multiple slideshows on the same page
         they just need to have separate IDs
         */
        $("#slides2").slidesjs({
            width: 1200,
            height: 300,
            navigation: false,
            start: <%= @block_contents.nil? ? 3 : @block_contents.count %>,
            play: {
                auto: true
            }
        });


    });
</script>
