<%= form_for(@page_block) do |f| %>
    <div class="field pull-left font-yahei" style="margin-bottom:15px;margin-top:15px;margin-right:15px;">
      <%= f.label '标题', :class=>"CaptionTD" %>
      <%= f.text_field :name, :class => 'FormElement ui-widget-content ui-corner-all' %>
    </div>
    <div class="clear"></div>
    <div class="field" style="margin-bottom:15px;">
      <%= f.label '内容', :class => "CaptionTD" %>
      <%= f.kindeditor :content,{
                        :allowFileManager => false,
                        :filterMode => false,
                        :owner_id => @page_block.id,
                        :editor_id => 'my_editor',
                        :window_onload => true,
                        :simple_mode => false,
                        :authenticity_token =>  form_authenticity_token,
                        uploadJson: "/home_pages/upload?authenticity_token=#{form_authenticity_token}" }
      %>
    </div>
    <div class="clear"></div>
    <div class="field font-yahei" style="margin-bottom:15px;">
      <%= f.label '所属界面', :class => "CaptionTD" %>
      <%= f.select(:page_id, @home_pages.collect { |t| [t.name, t.id] }, {:include_blank => false}, :class => "select2-container FormElement ui-widget-content ui-corner-all") %>
    </div>
       <div class="clear"></div>
    <div class="actions">
      <%= f.submit '保存', :class => 'fm-button ui-state-default ui-corner-all fm-button-icon-left ' %>
    </div>


<% end %>




