<%= javascript_include_tag 'page_blocks/new'%>
<%= stylesheet_link_tag 'page_blocks/new'%>
<div id="block_console">
  <div id="create_video_div">
    <input type="hidden" name="model_name" id="model_name">
    <label>区块名称</label><input type="text" name="block_name" id="block_name">
  </div>
</div>
<div class="m_add_box">
  <p class="m_title">添加模块</p>
<ul class="m_box">
  <li><a href="#" onclick="check_model('login')"><%=image_tag "m1.jpg" %></a><br />登陆模块-1（1:3,低）</li>
  <li><a href="#" onclick="check_model('login2')"><%=image_tag "m1.jpg" %></a><br />登陆模块-2（1:3,高）</li>
  <li><a href="#" onclick="check_model('slides')"><%=image_tag "m2.jpg" %></a><br />图片轮播（1:1）</li>
  <li><a href="#" onclick="check_model('anlizongshu')"><%=image_tag "m3.jpg" %></a><br />列表模版（1:3）</li>
  <li><a href="#" onclick="check_model('doctor_list')"><%=image_tag "m4.jpg" %></a><br />医生列表（2:3）</li>
  <li><a href="#" onclick="check_model('hospital_environment')"><%=image_tag "m7.jpg" %></a><br />图文列表（1:1）</li>
  <li><a href="#" onclick="check_model('jianjie')"><%=image_tag "m6.jpg" %></a><br />文本模版（1:3）</li>
  <li><a href="#" onclick="check_model('pic_text1')"><%=image_tag "m5.jpg" %></a><br />图文模版-1（1:3）</li>
  <li><a href="#" onclick="check_model('pic_text2')"><%=image_tag "pic_text2.jpg" %></a><br />图文模版-2（1:3）</li>
  <div style="clear:both;"></div>
</ul>

  <div style="clear:both;"></div>
</div>










