<div style="width: 100%">
  <div style="margin-left: 20px;margin-right: 20px;">
  <div style="margin-bottom: 10px;">医院：<select id="doctor_ship_hos"  style="width: 139px;">
    <option value="0">---请选择---</option>
    <% if !@hospitals.empty? %>
        <% @hospitals.each do |hos| %>
            <option id='hos_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
        <% end %>
    <% end %>
  </select>&nbsp;
    科室：<select id="doctor_ship_dep" style="width: 139px;">
    <option value="0">---请选择---</option>
    <% if !@departments.empty? %>
        <% @departments.each do |dept| %>
            <option id='hos_<%= dept.id %>' value="<%= dept.id %>"><%= dept.name %></option>
        <% end %>
    <% end %>
  </select>&nbsp;医生名：<input type="text" id="doc_name">
    关联医生<input type="radio" name="state" value='true' checked="checked" onclick="search_state('true')"/>&nbsp;非关联医生<input type="radio" name="state" value="false" onclick="search_state('false')"/>
    <a id="search_ships_btn" class="btn btn-default btn-sm" role="button">搜索</a>
  </div>

    <table id="list_doctors_ships"></table>
    <div id="page_docs"></div>
  </div>
</div>

<script type="text/javascript">
//状态搜索
    function search_state(bl) {
        jQuery("#list_doctors_ships").jqGrid('setGridParam', {url: "doctor_friendships/index_show?str=" + bl}).trigger("reloadGrid");
    }
//搜索
$('#search_ships_btn').click(function () {
    var hos_id = $('#doctor_ship_hos').val();
    var department_id = $('#doctor_ship_dep').val();
    var name = $('#doc_name').val();
    var states = document.getElementsByName("state");
    var state = '';
    for (var i = 0; i < states.length; i++) {
        if (states[i].checked) {
            state = states[i].value;
        }
    }
    jQuery("#list_doctors_ships").jqGrid('setGridParam', {url: "doctor_friendships/index_show?hospital_id=" + hos_id + "&department_id=" + department_id + "&name=" + name + '&str=' + state}).trigger("reloadGrid")
});
    $(function () {
        $("#doctor_ship_hos").select2();
        $("#doctor_ship_dep").select2();
    })
    $("#doctor_ship_hos").on("change", function (event) {
        var hos_id = $('#doctor_ship_hos').val();
        $.get('doctor_friendships/get_departments?hospital_id=' + hos_id, function (data) {
            var res = '<select width=300><option value="0">---全部---</option>';
            for (var k in data['departments']) {
                if (data['departments'].hasOwnProperty(k)) {
                    res += '<option value="' + k + '">' + data['departments'][k] + '</option> '
                }
            }
            res += '</select>';
            $("#doctor_ship_dep").html(res);
        }); // end get
    });

    jQuery("#list_doctors_ships").jqGrid({
        url: 'doctor_friendships/index_show',
        datatype: "json",
        autowidth:true,
        height: 'auto',
        colNames: ['医生ID', '姓名', '性别', '医院', '科室'],
        colModel: [
            {name: 'id', index: 'id', width: 120, sorttype: "int", align: "center"},
            {name: 'name', index: 'name', width: 55, editable: true, align: "center" },
            {name: 'gender', index: 'gender', width: 40, editable: true, align: "center" },
            {name: 'hospital_name', index: 'hospital_name', width: 100, editable: true, jsonmap:'hospital.name', align: "center" },
            {name: 'department_name', index: 'department_name', width: 100, editable: true, jsonmap:'department.name', align: "center" }
        ],
        rowNum: 20,
        rowList: [8, 10, 20, 30],
        pager: '#page_docs',
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        multiselect: false,
        subGrid: true,
        caption: "医友关系管理",
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del", // 当在delete模式中提交数据时，操作的名称
            subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
        },
        editurl: 'doctor_friendships/oper_action',
        jsonReader: {
            root: "doctors",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        subGridRowExpanded: function (subgrid_id, row_id) {
            var subgrid_table_id, pager_id;
            subgrid_table_id = subgrid_id + "_t";
            pager_id = "p_" + subgrid_table_id;
            var doctor = $('#list_doctors_ships').jqGrid('getRowData', row_id);
            $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");
            jQuery("#" + subgrid_table_id).jqGrid({
                url: "doctor_friendships/get_doctors?doctor_id=" + row_id,
                datatype: "json",
                colNames: ['ID','医生ID','医生姓名', '关联医生', '关联医生名', '性别', '医院', '科室' ],
                colModel: [
                    {name: 'id', index: 'id', editable: true, hidden:true, align: "center"},
                    {name: 'doctor1_id', index: 'doctor1_id', align: "center", editable: true, hidden: true, editrules: {edithidden: true}, editoptions: { defaultValue: doctor.id, readonly: 'readonly'}},
                    {name: 'doctor1_name', index: 'doctor1_name', align: "center", editable: true, hidden: true, editrules: {edithidden: true}, editoptions: {defaultValue: doctor.name, readonly: 'readonly'}, jsonmap: 'doctor1.name'},
                    {name: 'doctor2_id', index: 'doctor2_id', editable: true, hidden: true, jsonmap: 'doctor2.id', editrules: {edithidden: true}, align: "center", edittype: 'select', formatter: 'select',
                        editoptions: {
                            style: "width:166px",
                            value: function () {
                                var positions;
                                $.ajax({
                                    url: "doctor_friendships/get_n_doctors",
                                    data: {doctor_id: row_id},
                                    async: false,
                                    success: function (data) {
                                        positions = data.doctors;
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        alert(textStatus);
                                    }
                                });
                                return positions;
                            }}
                    },
                    {name: 'name', index: 'name', jsonmap: 'doctor2.name', align: "center" },
                    {name: 'gender', index: 'gender', jsonmap: 'doctor2.gender', align: "center" },
                    {name: 'hospital_name', index: 'hospital_id', jsonmap: 'doctor2.hospital_name', align: "center"},
                    {name: 'department_name', index: 'department_id', jsonmap: 'doctor2.department_name', align: "center"}
                ],
                rowNum: 10,
                pager: pager_id,
                sortname: 'num',
                sortorder: "asc",
                autowidth: true,
                height: 'auto',
                prmNames: {
                    page: "page", // 表示请求页码的参数名称
                    rows: "rows", // 表示请求行数的参数名称
                    id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
                    //   npage: null,
                    totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
                    editoper: "edit", // 当在edit模式中提交数据时，操作的名称
                    addoper: "add", // 当在add模式中提交数据时，操作的名称
                    deloper: "del", // 当在delete模式中提交数据时，操作的名称
                    subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
                },
                editurl: 'doctor_friendships/oper_action',
                multiselect: true,
                jsonReader: {
                    root: "doctor_friendships",
                    total: "totalpages",
                    page: "currpage",
                    records: "totalrecords",
                    repeatitems: false
                }
            });
            jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, {
                        cloneToTop: true, addtext: "新增", addtitle: "新增", edittext: "编辑", edittitle: "编辑", view: false,
                        deltext: "删除", deltitle: "删除", search: false,
                        refreshtext: "更新", refreshtitle: "更新"},
                    {
                        closeAfterEdit: true
                    },//edit
                    {
                        closeAfterAdd: true
                    }//add
            ).navButtonAdd('#' + pager_id, { title: '批量删除', caption: '批量删除', onClickButton: function () {
                        batch_delete(subgrid_table_id, row_id)
                    }, position: "last"})
        },
        subGridRowColapsed: function (subgrid_id, row_id) {
        }
    });
    jQuery("#list_doctors_ships").jqGrid('navGrid', '#page_docs', {
                cloneToTop: true, add: false, edit:false, view:false,
                del:false, search: false,
                refreshtext: "更新", refreshtitle: "更新"}
             );
    //批量删除
    function batch_delete(id, rowId) {
        var ids = $('#' + id).jqGrid('getGridParam', 'selarrrow');
        if (ids.length == 0) {
            alert('请选择删除项！');
        } else {
            $.ajax({
                        type: 'post',
                        url: '/doctor_friendships/batch_delete',
                        data: {ids: ids},
                        success: function (data) {
                            if (data.success == true) {
                                jQuery("#" + id).jqGrid('setGridParam', {url: "doctor_friendships/get_doctors?doctor_id=" + rowId}).trigger("reloadGrid");
                            } else {
                                alert('操作失败！');
                            }
                        }
                    }
            );
        }
    }
////回复举报
//    jQuery("#list_doc2pat_ships").jqGrid({
//        url: 'consult_accuses/index_results',
//        datatype: "json",
//        autowidth: true,
//        height: 'auto',
//        colNames: ['回复ID', '回复内容', '创建时间'],
//        colModel: [
//            {name: 'id', index: 'id', width: 100, align: "center"},
//            {name: 'respond_content', index: 'respond_content', width: 100, align: "center"},
//            {name: 'created_at', index: 'created_at', formatter: 'date', formatoptions: {newformat: 'Y-m-d'}, width: 100, align: "center"}
//        ],
//        rowNum: 8,
//        rowList: [8, 10, 20, 30],
//        pager: '#page_doc2pats',
//        sortname: 'id',
//        viewrecords: true,
//        sortorder: "desc",
//        multiselect: false,
//        subGrid: true,
//        caption: "回复举报管理",
//        prmNames: {
//            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
//            deloper: "del_res", // 当在delete模式中提交数据时，操作的名称
//            subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
//        },
//        editurl: 'consult_accuses/cusult_oper_action',
//        jsonReader: {
//            root: "consult_results",
//            repeatitems: false
//        },
//        subGridRowExpanded: function (subgrid_id_r, row_id_r) {
//            var subgrid_table_id_r, pager_id_r;
//            subgrid_table_id_r = subgrid_id_r + "_t";
//            pager_id_r = "p_" + subgrid_table_id_r;
//            $("#" + subgrid_id_r).html("<table id='" + subgrid_table_id_r + "' class='scroll'></table><div id='" + pager_id_r + "' class='scroll'></div>");
//            jQuery("#" + subgrid_table_id_r).jqGrid({
//                url: "consult_accuses/get_accuses?result_id=" + row_id_r,
//                datatype: "json",
//                colNames: ['举报ID', '举报原因', '创建时间'],
//                colModel: [
//                    {name: "id", index: "id", key: true},
//                    {name: "reason", index: "reason"},
//                    {name: "created_at", index: "created_at", formatter: 'date', formatoptions: {newformat: 'Y-m-d'}, align: "right"}
//                ],
//                width: '400',
//                height: 'auto',
//                rowNum: 20,
//                pager: pager_id_r,
//                sortname: 'num',
//                sortorder: "asc",
//                prmNames: {
//                    id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
//                    deloper: "del", // 当在delete模式中提交数据时，操作的名称
//                    subgridid: "id" // 当点击以载入数据到子表时，传递的数据名称
//                },
//                editurl: 'consult_accuses/cusult_oper_action',
//                jsonReader: {
//                    root: "consult_accuses",
//                    repeatitems: false
//                }
//            });
//            jQuery("#" + subgrid_table_id_r).jqGrid('navGrid', "#" + pager_id_r, {edit: false, add: false, deltext: "删除", deltitle: "删除"})
//        },
//        subGridRowColapsed: function (subgrid_id_r, row_id_r) {
//        }
//    });
//    jQuery("#list_doc2pat_ships").jqGrid('navGrid', '#page_doc2pats', {add: false, edit: false, deltext: "删除", deltitle: "删除"});
//    //搜索咨询
//    $('#search_question_btn').click(function () {
//        var text = $('#question_content').val();
//        jQuery("#list_doctors_ships").jqGrid('setGridParam', {url: "consult_accuses/index_accuses?content=" + text }).trigger("reloadGrid")
//    });
//    //搜索回复
//    $('#search_result_btn').click(function () {
//        var text = $('#result_content').val();
//        jQuery("#list_doc2pat_ships").jqGrid('setGridParam', {url: "consult_accuses/index_results?content=" + text }).trigger("reloadGrid")
//    });
</script>