<select id="patient_department_id" name="patient[department_id]" >
      <% if !@departments.nil? && !@departments.empty? %>
      <% @departments.each do |dep| %>
          <option id="dep_<%= dep.id %>" value="<%= dep.id %>"><%= dep.name %></option>
      <% end %>
      <% end %>

</select>
<script>
    $(function() {
        $("#patient_department_id").select2();
        <% if !params[:id].nil? %>
        <% dep_id = Patient.find_by(id:params[:id]).department_id %>
        <% department = Patient.find_by(id:params[:id]).department %>
        <% if !dep_id.nil? && dep_id != '' && !department.nil?%>
        $('#s2id_patient_department_id').children('.select2-choice').children('.select2-chosen').html('<%=department.name%>')
        if (document.getElementById('dep_<%= dep_id %>') != null) {
            document.getElementById('dep_<%= dep_id %>').setAttribute('selected', 'selected')
        }
        <% end %>
        <% end %>
    })
</script>
