  <select  id="patient_hospital_id" name="patient[hospital_id]" onchange="search()" >
  <!--<option value="">---请选择---</option>-->
<% if !@hospitals.nil? && !@hospitals.empty? %>

     <% @hospitals.each do |hos| %>
        <option id='hos_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
     <% end %>
<% end %>
    <%#= f.select :hospital,options_from_collection_for_select(Hospital.all,'id','name'), :placeholder => "搜索",:style => "display:none;" %>
   </select>

<script>
    $(function() {
        $("#patient_hospital_id").select2();
        <% if !params[:id].nil? %>
        <% hos_id = Patient.find_by(id:params[:id]).hospital_id %>
        <% hospital = Patient.find_by(id:params[:id]).hospital %>
        <% if !hos_id.nil? && hos_id != '' && !hospital.nil?%>
        $('#s2id_patient_hospital_id').children('.select2-choice').children('.select2-chosen').html('<%=hospital.name%>')
        document.getElementById('hos_<%= hos_id %>').setAttribute('selected','selected')
        <% end %>
        <% end %>
        search()
    })
    function search() {
        var hos = $("#patient_hospital_id").val();
        change_department2(hos) ;
    }
    function change_department2(hos_id){
        $.ajax({
                    type: "get",
                    url: '/patients/get_department?menu_id=<%=@menu_id%>&hospital_id=' + hos_id,
                    data: 'text',
                    success: function (data) {
                        $("#pat_department").html(data);
                    }
                }
        );
    }
</script>
