<!--<h1>Listing patients</h1>-->
<style>
    .select2-container{
        width:200px;

    }
</style>
<div style="" class="yahei">
<div id="consoleDlg2">
  <div id="pat_create_or_edit_form">
  </div>
</div>
<div id="warn2_1"></div>
<div id="warn2_2"></div>
<div id="warn2_3"></div>
<div id="search_form">
  <%= render partial: 'patients/search_form' %>
</div>

<div id="search_div" style="">
<% if current_user.admin_type == '医院管理员' || current_user.admin_type == '科室管理员'%>
      <div style="" id="search_f_pat">
        <span class="marginb">
            姓名：<input type="text" class="input_b" id="search_oth_name">
        </span>
        <span class="marginb">
          证件号码：<input type="text" class="input_b" id="search_oth_number" >
        </span>
        <span class="marginb">
            邮箱：<input type="text" class="input_b" id="search_oth_email">
        </span>
        <span class="marginb">
            手机号：<input type="text" class="input_b" id="search_oth_tel">
        </span>
        <span class="marginb">
        <button id="search_btn2" onclick="search_by2()" class="btn btn-success btn-sm">本医院/科室搜索</button>
          &nbsp;<button id="search_hos_btn2" onclick="search_hos_by2()" class="btn btn-success btn-sm">全库搜索</button>
          &nbsp;<button id="clear_btn2" class="btn btn-default btn-sm">清空</button>
        </span>
      </div>
      <script>
          function search_hos_by2(){
              var dep_flag = $("input[type=radio]:checked").val()
              var name = $('#search_oth_name').val();
              var email = $('#search_oth_email').val();
              var tel = $('#search_oth_tel').val();
              var number = $('#search_oth_number').val();
              var url= "/patients/show_oth_pat?name=" + name + "&email=" + email + "&mobile_phone=" + tel+ "&credential_type_number=" + number
              url = encodeURI(url)  //处理 ｕｒｌ中文问题
              jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
//             $('#add_list10').css('display','none')
              $('#edit_list10').css('display','none')
              $('#view_list10').css('display','none')
              $('#del_list10').css('display','none')
              $('#refresh_list10').css('display','none')
              $('#sendPhonePatient').css('display','none')
              $('#sendEmailPatient').css('display','none')
              $("#list10").navButtonAdd('#pager10', {position: 'last', title: '添加为本医院/本科室医生', caption: '添加为本医院/本科室医生',id:'matchlist10', onClickButton: matchPatient});
          }
          function search_by2() {
              var dep_flag = $("input[type=radio]:checked").val()
              var name = $('#search_oth_name').val();
              var email = $('#search_oth_email').val();
              var tel = $('#search_oth_tel').val();
              var number = $('#search_oth_number').val();
//              var url= "/patients/show_oth_pat?name=" + name + "&email=" + email + "&mobile_phone=" + tel+ "&credential_type_number=" + number
//              if (dep_flag=='the') {
              var  url= "/patients/show_index?name=" + name + "&email=" + email + "&mobile_phone=" + tel+ "&credential_type_number=" + number
//              }
              url = encodeURI(url)  //处理 ｕｒｌ中文问题
              jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
              $('#add_list10').show()
              $('#edit_list10').show()
              $('#view_list10').show()
              $('#del_list10').show()
              $('#refresh_list10').show()
              $('#sendPhonePatient').show()
              $('#sendEmailPatient').show()
              $('#matchPatient').remove()
          };
          $('#clear_btn2').click(function () {
              $('#search_oth_name').val('');
              $('#search_oth_email').val('');
              $('#search_oth_tel').val('');
              $('#search_oth_number').val('');
          });
      </script>
<% else %>
<span class="marginb">
  医院：
  <select  id="patient_hos_id" class="select_w" onchange="pat_search_hos()" >
  <option value="">全部</option>
  <% if !@hospitals.empty? && !@hospitals.nil?  %>
      <% @hospitals.each do |hos| %>
          <option id='search_hos_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
      <% end %>
  <% end %>
  </select>
</span>
<span class="marginb">
  科室：
  <span id="search_dep_id">
    <select id="patient_dep" class="select_w" onchange="pat_search_dep()" >
      <option value="all">全部</option>
      <% if !@departments.nil? && !@departments.empty? %>
          <% @departments.each do |hos| %>
              <option id='serach_dep_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
          <% end %>
      <% end %>
    </select>
  </span>
</span>
<span class="marginb">
  是否激活：
  <select id="is_activated" class="select_w" onchange="search_activated()">
  <option value="">全部</option>
  <option value="1">已经激活</option>
  <option value="0">未激活</option>
  </select>
</span>
<span class="marginb">
  姓名：<input type="text" id="search_name" onkeydown="entersearch1(event)" class="input_b">
</span>
<span class="marginb">
  证件号码：<input type="text" id="search_number" onkeydown="entersearch1(event)" class="input_b">
</span>
<span class="marginb">
   邮箱：<input type="text" id="search_email" onkeydown="entersearch1(event)" class="input_b">
</span>
<span class="marginb">
   手机号：<input type="text" id="search_tel" onkeydown="entersearch1(event)" class="input_b">
</span>
<span class="marginb">
   <button id="search_btn" class="btn btn-success btn-sm" onclick="search_by()">搜索</button>&nbsp;<button id="clear_btn" class="btn btn-default btn-sm">清空</button>
</span>
        <%#= form_for '', url: {controller: 'patients', action: 'show_index'}, method: 'get',:html => {:multipart => true} do |f| %>
        <!--<div style="padding: 0px;margin-left: 0px;">-->
        <!-- <%#= f.label :搜索条件 %>:-->
        <!--<select name="searchField" id="searchField" style="width:140px;margin-left: 2px;height: 30px;" onchange="change_state(this.value)">-->
        <!--<option value="">请选择搜索条件</option>-->
        <!--<option value="name">按姓名</option>-->
        <!--<option value="spell_code">按简拼</option>-->
        <!--<option value="credential_type_number">按证件号码</option>-->
        <!--<option value="mobile_phone">按手机号</option>-->
        <!--<option value="email">按邮箱</option>-->
        <!--</select>-->
        <!--<%#= f.label :值%>:-->
        <!--<%#= f.text_field :name,id:'searchString',name:'searchString', placeholder: '回车搜索', style:"width:180px;height: 26px;" ,onkeydown:"entersearch1(event)"%>-->
        <!--</div>-->
        <%# end %>
      <script>
          function search_by() {
              var name = $('#search_name').val();
              var email = $('#search_email').val();
              var tel = $('#search_tel').val();
              var number = $('#search_number').val();
              var url= "/patients/show_index?name=" + name + "&email=" + email + "&mobile_phone=" + tel+ "&credential_type_number=" + number + '&hos_id=' + $('#patient_hos_id').val() + '&dep_id=' + $('#patient_dep').val()
              url = encodeURI(url)  //处理 ｕｒｌ中文问题
              jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
          };
          //清空搜索条件
          $('#clear_btn').click(function () {
              $('#search_name').val('');
              $('#search_email').val('');
              $('#search_tel').val('');
              $('#search_number').val('');
          });
          function change_state(value){
              $('#searchString').val('')
              var url= "/patients/show_index?hos_id=" + $('#patient_hos_id').val() + "&dep_id=" + $('#patient_dep').val()
              jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
              if (value == '') {
                  $('#searchString').attr('disabled','disabled')
              } else {
                  $('#searchString').removeAttr('disabled')
              }
          }
          function entersearch1(event){
              if (event.keyCode == 13)
              {
                  search_by()
              }
          }
      </script>
<% end %>
</div>
</div>
<div class="jqgride_div">
<table id="list10"></table>
<div id="pager10"></div>
</div>


<script>
    var row_id;
    var selectedIds  = jQuery("#list10").jqGrid("getGridParam","selarrrow");
    jQuery("#list10").jqGrid({
        url: "/patients/show_index",
        datatype: "json",
        height: "auto",
        colNames:['ID','','姓名','姓名首字母简拼','证件类型','证件号码', '性别','出生日期','出生地','婚姻状况','省','市','医院','科室','国籍','民族','手机号','邮箱','主治医生','主治医生类型','受教育程度','最后就诊时间','说明'],
        colModel:[
//            {name:'act',index:'act', width:75,sortable:false},
            {name:'id',index:'id', width:120, sorttype:"int",hidden:true,search:false },
            {name:'photo',index:'photo',width:20,search:false, align:'center',
                formatter: function (rowId, cellval, colpos, rwdat, _act) {
                    var value = colpos.photo;
                    if (value==null || value=='') {
                        return "<img src=\'/default.png\' style=\'width:16px;height:23px\'>";
                    }else {
                        return "<img src=\'<%= Settings.aliyunOSS.photo_url %>"+value+"\' style=\'width:16px;height:23px\'>";
                    }

                }
            },
            {name:'name',index:'name', width:55,searchoptions: { sopt: ['in']}, align: 'center'},
            {name:'spell_code',index:'spell_code', width:120, search:true , hidden:true,searchoptions: {searchhidden:true, sopt: ['in']}, align: 'center'},
            {name:'credential_type',index:'credential_type', width:80,search:false, hidden: true, editrules: {edithidden: true}, align: 'center' },
            {name:'credential_type_number',index:'credential_type_number', width:300,searchoptions: { sopt: ['in']}, align: 'center'},
            {name:'gender',index:'gender', width:30,searchoptions: {searchhidden:true, sopt: ['in']}, align: 'center' },
            {name:'birthday',index:'birthday', width:90,search:false, align: 'center'},
            {name:'birthplace',index:'birthplace', width:100,search:false, align: 'center'},
            {name:'marriage',index:'marriage', width:80,search:false ,hidden:true,editrules:{edithidden:true}, align: 'center'},
            {name:'province_name',index:'province_name', width:100,hidden:true,search:false, align: 'center'},
            {name:'city_name',index:'city_name', width:100,hidden:true,search:false, align: 'center' },
            {name:'hospital.name',index:'hospital.name', width:150,search:false, align: 'center' },
            {name:'department.name',index:'department.name', width:150,search:false, align: 'center' },
            {name:'citizenship',index:'citizenship', width:50,search:false  ,hidden:true, align: 'center'},
            {name:'nationality',index:'nationality', width:50,search:false  ,hidden:true, align: 'center'},
            {name:'mobile_phone',index:'mobile_phone', width:100, align:"center",sorttype:"float",searchoptions: { sopt: ['in']}},
            {name:'email',index:'email', width:130, align:"center",sorttype:"float",searchoptions: { sopt: ['in']}},
            {name:'doctor.name',index:'doctor_id', width:130, align:"center",sorttype:"float",searchoptions: { sopt: ['in']}},
            {name:'doctor.doctor_type',index:'doctor_type', width:100,hidden:true,searchoptions: {searchhidden:true, sopt: ['in']}},
            {name:'education',index:'education', width:100, align:"center",sorttype:"float",searchoptions: { sopt: ['in']}},
            {name:'last_treat_time',index:'last_treat_time', width:100,align:"center",sorttype:"float",search:false },
            {name:'introduction',index:'introduction', width:260, sortable:false, hidden: true, editrules: {edithidden: true}}
        ],
        pager: jQuery('#pager10'),
        sortname: 'id',
//        loadurl:"disable",
//        treeGrid:true,
        ExpandColumn: "menu",
        autowidth: true,
        rowNum: 20,
        rowList:[10,20,30,40],
        altRows: true,
        ignoreCase: true,
        jsonReader: {
            root: "patients",
            repeatitems: false
        },
        onSelectRow: function(id){
            selectedIds  = jQuery("#list10").jqGrid("getGridParam","selarrrow");
        },

        viewrecords: true,
        multiselect: true,
        caption: "患者列表"
    });
    $("#consoleDlg2").dialog({
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 540,
        position:
        {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function( pos ) {
                console.log(pos.top)
                var topOffset = $( this ).css( pos ).offset().top;
                console.log(topOffset)
                if ( topOffset < 0 ) {
                    $( this ).css( "top", pos.top - topOffset );
                }else {
                    $( this ).css( "top", 100 );
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "创建": addContact,
            "保存": updateContact,
            "删除": deleteContact,
            "确定": forPatient,
            "取消": cancelContact
        }
    });
    $("#warn2_1").dialog({
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 540,
        height:800,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function( pos ) {
                var topOffset = $( this ).css( pos ).offset().top;
                if ( topOffset < 0 ) {
                    $( this ).css( "top", pos.top - topOffset );
                }else {
                    $( this ).css( "top", 100 );
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "查看该患者": search_pat_by_number,
            "修改证件号": function() {$("#warn2_1").dialog("close")}
        }
    });
    $("#warn2_2").dialog({
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 540,
        height:800,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function( pos ) {
                var topOffset = $( this ).css( pos ).offset().top;
                if ( topOffset < 0 ) {
                    $( this ).css( "top", pos.top - topOffset );
                }else {
                    $( this ).css( "top", 100 );
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "查看该患者": search_pat_by_tel,
            "修改手机号": function() {$("#warn2_2").dialog("close")}
        }
    });
    $("#warn2_3").dialog({
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 540,
        height:800,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function( pos ) {
                var topOffset = $( this ).css( pos ).offset().top;
                if ( topOffset < 0 ) {
                    $( this ).css( "top", pos.top - topOffset );
                }else {
                    $( this ).css( "top", 100 );
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "查看该患者": search_pat_by_email,
            "修改邮箱号": function() {$("#warn2_3").dialog("close")}
        }
    });
    $("#search_form").dialog({
        autoOpen: false,
        modal: true,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 540,
        height:800,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function( pos ) {
                var topOffset = $( this ).css( pos ).offset().top;
                if ( topOffset < 0 ) {
                    $( this ).css( "top", pos.top - topOffset );
                }else {
                    $( this ).css( "top", 100 );
                }
            }
        }
    });
    function search_pat_by_number(){
        $('#search_oth_name').val('');
        $('#search_oth_email').val('');
        $('#search_oth_tel').val('');
        $('#search_oth_number').val('');
        $('#search_oth_number').val($('#patient_credential_type_number').val());
        search_hos_by2()
        $("#warn2_1").dialog("close")
        $("#consoleDlg2").dialog("close")
        $("#warn2_1").dialog("close")
    }
    function search_pat_by_tel() {
        $('#search_oth_name').val('');
        $('#search_oth_email').val('');
        $('#search_oth_tel').val('');
        $('#search_oth_number').val('');
        $('#search_oth_tel').val($('#patient_mobile_phone').val());
        search_hos_by2()
        $("#warn2_2").dialog("close")
        $("#consoleDlg2").dialog("close")
    }
    function search_pat_by_email() {
        $('#search_oth_name').val('');
        $('#search_oth_email').val('');
        $('#search_oth_tel').val('');
        $('#search_oth_number').val('');
        $('#search_oth_email').val($('#patient_email').val());
        search_hos_by2()
        $("#warn2_3").dialog("close")
        $("#consoleDlg2").dialog("close")
    }
    //    自定义按钮
    $("#list10").jqGrid("navGrid", "#pager10", {
        addtext: '添加',
        addfunc : openDialog4Adding, // (1) 点击添加按钮，则调用openDialog4Adding方法
        edittext: '编辑',
        editfunc : openDialog4Updating, // (2) 点击编辑按钮，则调用openDialog4Updating方法
        view: true,
        viewtext: '查看',
        deltext:    '删除',
        delfunc : openDialog4Deleting, // (3) 点击删除按钮，则调用openDialog4Deleting方法
        search:true,
        searchtext:'条件查询',
        searchfunc :openDialogSearch,
        refreshtext:"刷新",
        refreshstate:'current',
        alerttext : "请选择记录!"
    });
    var selectedIds  = jQuery("#list10").jqGrid("getGridParam","selarrrow");
//    jQuery("#list10").jqGrid('navGrid','#pager10',{edit:false,add:false,del:false,search:false,searchtext:"查找",refreshtext:"刷新"});
//    $("#list10").navButtonAdd('#pager10', {position: 'last', title: '添加', caption: '添加',id:'addPatient', onClickButton: createPatient})
//    $("#list10").navButtonAdd('#pager10', {position: 'last', title: '删除', caption: '删除',id:'delete', onClickButton: deletePatient})
//    $("#list10").navButtonAdd('#pager10', {position: 'last', title: '编辑', caption: '编辑',id:'edit', onClickButton: editPatient})
    $("#list10").navButtonAdd('#pager10', {position: 'last', title: '邮箱激活', caption: '邮箱激活',id:'sendEmailPatient', onClickButton: sendEmailPatient})
    $("#list10").navButtonAdd('#pager10', {position: 'last', title: '手机激活', caption: '手机激活',id:'sendPhonePatient', onClickButton: sendPhonePatient})
    $("#list10").navButtonAdd('#pager10', {position: 'last', title: '健康档案', caption: '健康档案',id:'showHealthRecords', onClickButton: showHealthRecords})

    function matchPatient() {
        selectedIds  = jQuery("#list10").jqGrid("getGridParam","selarrrow");
        if (selectedIds.length>0) {
            $.ajax({
                type:'get',
                url:'/patients/matchPatient',
                success:function(data){
                    $('#pat_create_or_edit_form').html(data)
                    var consoleDlg2 = $("#consoleDlg2");
                    var dialogButtonPanel2 = consoleDlg2.siblings(".ui-dialog-buttonpane");
                    dialogButtonPanel2.find("button:not(:contains('取消'))").hide();
                    dialogButtonPanel2.find("button:contains('确定')").show();
                    consoleDlg2.dialog("option", "height", "300");
                    consoleDlg2.dialog("option", "width", "540");
                    consoleDlg2.dialog("option", "title", "分配医院和科室").dialog("open");
                }
            })
        }
        else {
            alert('请至少选择一条记录!')
        }
    }

    function forPatient() {
        selectedIds  = jQuery("#list10").jqGrid("getGridParam","selarrrow");
        $.ajax({
            type: 'get',
            url: '/patients/forPatients?pat_ids=' + selectedIds + '&hos_id=' +$('#patient_hospital_id').val() + '&dep_id=' + $('#patient_department_id').val(),
            success: function (data) {
                window.parent.$("#consoleDlg2").dialog("close");
                $('#refresh_list10').click()
            }
        })
    }
    function openDialog4Adding() {
        selectedIds  = null
        $.ajax({
            type:'get',
            url:'/patients/new',
            success:function(data){
                $('#pat_create_or_edit_form').html(data)
                var consoleDlg2 = $("#consoleDlg2");
                var dialogButtonPanel = consoleDlg2.siblings(".ui-dialog-buttonpane");
//        consoleDlg2.find("input").removeAttr("disabled").val("");
                dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                dialogButtonPanel.find("button:contains('创建')").show();
                consoleDlg2.dialog("option", "height", "800");
                consoleDlg2.dialog("option", "width", "540");
                consoleDlg2.dialog("option", "title", "创建").dialog("open");

            }
        })
    }

    function openDialog4Updating(id) {
        selectedIds  = jQuery("#list10").jqGrid("getGridParam","selarrrow");
        if (selectedIds.length==1) {
            $.ajax({
                type: 'get',
                url: '/patients/' + selectedIds + '/edit',
                success: function (data) {
                    $('#pat_create_or_edit_form').html(data)
                    var consoleDlg2 = $("#consoleDlg2");
                    var dialogButtonPanel = consoleDlg2.siblings(".ui-dialog-buttonpane");
//        consoleDlg2.find("input").removeAttr("disabled").val("");
                    dialogButtonPanel.find("button:not(:contains('取消'))").hide();
                    dialogButtonPanel.find("button:contains('保存')").show();
                    consoleDlg2.dialog("option", "height", "800");
                    consoleDlg2.dialog("option", "width", "540");
                    consoleDlg2.dialog("option", "title", "修改").dialog("open");
                }
            })
        }else {
            alert('必须且只能选择一条记录!')
        }
    }

    function openDialog4Deleting(id) {
        var consoleDlg2 = $("#consoleDlg2");
        $('#pat_create_or_edit_form').html('删除所选记录?')
        var dialogButtonPanel = consoleDlg2.siblings(".ui-dialog-buttonpane");
//        consoleDlg2.find("input").removeAttr("disabled").val("");
        dialogButtonPanel.find("button:not(:contains('取消'))").hide();
        dialogButtonPanel.find("button:contains('删除')").show();
        consoleDlg2.dialog("option", "height", "180");
        consoleDlg2.dialog("option", "width", "260");
        consoleDlg2.dialog("option", "title", "删除").dialog("open");
    }

    function openDialogSearch() {
        var consoleDlg2 = $("#search_form");
        var dialogButtonPanel = consoleDlg2.siblings(".ui-dialog-buttonpane");
        consoleDlg2.dialog("option", "height", "150");
        consoleDlg2.dialog("option", "width", "560");
        consoleDlg2.dialog("option", "title", "搜索...").dialog("open");
    }

    var credential_type_number_flag=true
    var phone_flag=true
    var name_flag=false
    var email_flag=true
    var birthday_flag=false
    var two_blank=true
    function check_credential_type_number(value,a){
        row_id = selectedIds//jQuery("#list10").jqGrid('getGridParam', 'selrow');
        if ($('#patient_credential_type').val()=='居民身份证') {
            var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            if (reg.test(value) === false) {
                if (a=='true') {
                    alert('身份证号格式错误!')
                }
                $('#patient_credential_type_number').addClass('error_remind')
                credential_type_number_flag = false
            } else {
                $.ajax({
                    type:'get',
                    async:false,
                    url:'/patients/check_credential_type_number?patient_id='+row_id,
                    data:{credential_type_number:value},
                    success:function(data){
                        var is_use;
                        is_use= data['success'];
                        if(is_use==true) {
                            credential_type_number_flag=true;
                            showBirthday(value)
                            $('#patient_credential_type_number').removeClass('error_remind')
//                        document.getElementById('phone_div').innerHTML='<div class="succ-icon"></div>'
                        }else{
                            credential_type_number_flag=false;
                            $('#patient_credential_type_number').addClass('error_remind')
                            if (a=='true') {
                                <% if current_user.admin_type == '医院管理员' || current_user.admin_type == '科室管理员'%>
                                var consoleDlg = $("#warn2_1");
                                $('#warn2_1').html('该身份证患者已存在!')
                                var dialogButtonPanel = consoleDlg.siblings(".ui-dialog-buttonpane");
                                dialogButtonPanel.find("button:not(:contains('证件号'))").hide();
                                dialogButtonPanel.find("button:contains('查看该患者')").show();
                                dialogButtonPanel.find("button:contains('修改证件号')").show();
                                consoleDlg.dialog("option", "height", "240");
                                consoleDlg.dialog("option", "width", "460");
                                consoleDlg.dialog("option", "title", "提示").dialog("open");
                                <% else %>
                                alert('身份证号码重复!')
                                <% end %>
                            }
                        }
                    }
                })
            }
        }
        else {
            credential_type_number_flag=true;
            $('#patient_credential_type_number').removeClass('error_remind')
        }
    }

    function check_phone(phone,a){
        row_id = selectedIds//jQuery("#list10").jqGrid('getGridParam', 'selrow');
        var c_phone=/1[3|5|7|8|][0-9]{9}/;
        var re_phone= new RegExp(c_phone);
        if (phone != ''){
            if (re_phone.test(phone) && phone.length==11){
                $.ajax({
                    type:'get',
                    async:false,
                    url:'/patients/check_phone?patient_id='+row_id,
                    data:{phone:phone},
                    success:function(data){
                        if(data['success']) {
                            phone_flag=true;
                            $('#patient_mobile_phone').removeClass('error_remind')
                        }else{
                            phone_flag=false;
                            $('#patient_mobile_phone').addClass('error_remind')
                            if (a=='true') {
                                <% if current_user.admin_type == '医院管理员' || current_user.admin_type == '科室管理员'%>
                                var consoleDlg = $("#warn2_2");
                                $('#warn2_2').html('该手机号患者已存在!')
                                var dialogButtonPanel = consoleDlg.siblings(".ui-dialog-buttonpane");
                                dialogButtonPanel.find("button:contains('查看该患者')").show();
                                dialogButtonPanel.find("button:contains('修改手机号')").show();
                                consoleDlg.dialog("option", "height", "240");
                                consoleDlg.dialog("option", "width", "460");
                                consoleDlg.dialog("option", "title", "提示").dialog("open");
                                <% else %>
                                alert('手机号重复!')
                                <% end %>
                            }
                        }
                    }
                })
            }else{
                phone_flag=false;
                $('#patient_mobile_phone').addClass('error_remind')
                if (a=='true') {
                    alert('手机号格式不正确!')
                }
            };
        }else{
            phone_flag=true;
            $('#patient_mobile_phone').removeClass('error_remind')
        }
    }
    function check_name(name,a){
        var c_name=/^\s*$/g;
        var re_name=new RegExp(/^\s*$/g)
        if (re_name.test(name)){
            name_flag=false;
            $('#patient_name').addClass('error_remind')
            if (a=='true'){
                alert('姓名不能为空!')
            }
        }else{
            name_flag=true;
            $('#patient_name').removeClass('error_remind')

        };
    };
    function check_email(email,a) {
        row_id = selectedIds//jQuery("#list10").jqGrid('getGridParam', 'selrow');
        var c_email=/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var re_email = new RegExp(c_email);
        if (email!='') {
            if(re_email.test(email)){
                $.ajax({
                    type:'get',
                    async:false,
                    url:'/patients/check_email?patient_id='+row_id,
                    data:{email:email},
                    success:function(data){
                        var is_use;
                        is_use= data['success'];
                        if(is_use==true) {
                            email_flag=true;
                            $('#patient_email').removeClass('error_remind')
                        }else{
                            email_flag=false;
                            $('#patient_email').addClass('error_remind')
                            if (a=='true') {
                                <% if current_user.admin_type == '医院管理员' || current_user.admin_type == '科室管理员'%>
                                var consoleDlg = $("#warn2_3");
                                $('#warn2_3').html('该邮箱号患者已存在!')
                                var dialogButtonPanel = consoleDlg.siblings(".ui-dialog-buttonpane");
                                dialogButtonPanel.find("button:contains('查看该患者')").show();
                                dialogButtonPanel.find("button:contains('修改邮箱号')").show();
                                consoleDlg.dialog("option", "height", "240");
                                consoleDlg.dialog("option", "width", "460");
                                consoleDlg.dialog("option", "title", "提示").dialog("open");
                                <% else %>
                                alert('邮箱已注册!')
                                <% end %>
                            }
                        }

                    }
                })
            }
            else  {
                email_flag=false;
                $('#patient_email').addClass('error_remind')
                if (a=='true') {
                    alert('邮箱格式不正确')
                }
            } ;
        }else{
            email_flag=true;
            $('#patient_email').removeClass('error_remind')
        }
    };

    function check_birthday(birthday,a){
        if($.trim(birthday).length==0){
            $('#pat_birthday').addClass('error_remind')
            if (a=='true'){
                alert('生日不可为空!')
            }
        }else{
            birthday_flag=true
            $('#pat_birthday').removeClass('error_remind')
        }
    }

    function change_type(){
        $('#patient_credential_type_number').focus();
        $('#patient_credential_type_number').removeClass('error_remind');
        credential_type_number_flag = true
    }

    function addContact() {      //    添加患者
        var birthday = $('#pat_birthday').val()
        var phone = $('#patient_mobile_phone').val()
        var email = $('#patient_email').val()
        var name = $('#patient_name').val()
        var credential_type_number = $('#patient_credential_type_number').val()
        check_credential_type_number(credential_type_number)
        check_phone(phone)
        check_name(name)
        check_email(email)
//        check_birthday(birthday)
        if (phone=='' && email==''){
            two_blank = false
        }else{
            two_blank = true
        }
        if(credential_type_number_flag!=true||name_flag!=true||email_flag==false||phone_flag==false||credential_type_number_flag==false){
            alert("表单填写有误，不能提交表单！");
        }else{
            create_or_update()
        }
    }

    function updateContact(id) {   //    编辑患者
        addContact()

    }

    function deleteContact(id) {    //    删除患者
        $.ajax({
            type: 'delete',
            url: '/patients/' + selectedIds,
            success: function (data) {
                if (data['success']) {
                    window.parent.$("#consoleDlg2").dialog("close");
                    $('#refresh_list10').click()
//                    alert('删除成功!')
                } else {
                    alert('删除失败!')
                }
            }
        })
//        var url= "/patients/show_index?hos_id=" + $('#patient_hos_id').val() + "&dep_id=" + $('#patient_dep').val()
//        jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    }

    function cancelContact() {
        var image = $('#pat_photo_image').val()
        if ($.trim(image)==''){
            window.parent.$("#consoleDlg2").dialog("close");
        } else {
            $.ajax({
                type: 'post',
                url: '/patients/delete_image',
                data: {pat_id: selectedIds, image: image},
                success: function (data) {
                    if (data['success']) {
                        window.parent.$("#consoleDlg2").dialog("close");
                    } else {
                        alert('删除失败!')
                    }
                }
            })
        }
    }

//    发送邮箱激活码
    function sendEmailPatient(){
        if (selectedIds.length>0) {
            $.ajax({
                type: 'get',
                url: '/patients/send_email?pat_ids=' + selectedIds,
                success: function (data) {
                    if (data['success']) {
                        alert('发送成功!')
                    } else {
                        alert('发送失败!如果是多个,可能部分发送成功!')
                    }
                }
            })
        }else{
            alert('请至少选择一条记录!')
        }
        $('#refresh_list10').click()
//        var url= "/patients/show_index?hos_id=" + $('#patient_hos_id').val() + "&dep_id=" + $('#patient_dep').val()
//        jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    }
//    发送手机激活码
    function sendPhonePatient(){
        if (selectedIds.length>0) {
            $.ajax({
                type:'get',
                url:'/patients/send_phone?pat_ids='+selectedIds,
                success:function(data){
                    if (data['success']){
                        alert('发送成功!')
                    }else {
                        alert('发送失败!如果是多个,可能部分发送成功!')
                    }

                }
            })
        }else{
            alert('请至少选择一条记录!')
        }
        $('#refresh_list10').click()
//        var url= "/patients/show_index?hos_id=" + $('#patient_hos_id').val() + "&dep_id=" + $('#patient_dep').val()
//        jQuery("#list10").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    }

    function showHealthRecords() {
        if (selectedIds.length>0) {
            window.open('/health_records/index?id='+selectedIds)
        }else{
            alert('请至少选择一条记录!')
        }
    }

    function pat_search_hos(){
        $('#searchString').val('')
        var hos_id = $('#patient_hos_id').val()
        $.ajax({
            type: 'get',
            url: '/patients/search_department?hos_id='+hos_id,
            success: function (data) {
                $('#search_dep_id').html(data)
            }
        });
        jQuery("#list10").jqGrid('setGridParam', {url: "/patients/show_index?hos_id=" + $('#patient_hos_id').val() +  "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
    }
    function pat_search_dep(){
        $('#searchString').val('')
        jQuery("#list10").jqGrid('setGridParam', {url: "/patients/show_index?hos_id=" + $('#patient_hos_id').val() + "&dep_id=" + $('#patient_dep').val()  + "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
    }
    function search_activated(){
        $('#searchString').val('')
        jQuery("#list10").jqGrid('setGridParam', {url: "/patients/show_index?hos_id=" + $('#patient_hos_id').val() + "&dep_id=" + $('#patient_dep').val()  + "&is_activated=" + $('#is_activated').val()}).trigger("reloadGrid")
    }
    $(function() {
        $("#patient_hos_id").select2();
        $("#patient_dep").select2();
        $("#is_activated").select2();
        $("#searchField").select2();
        $("#patient_department_id").select2();
        $('#searchString').attr('disabled','disabled')
    })
</script>
<div class="modal fade" id="create_or_edit_form2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
