<%= form_for :home_menu,html: {multipart: true, id: 'home_menu_form_eidt'} do |f| %>
    <%= label :name,'标题',:class => "home_menu_content"%><br />
    <%=f.text_field :name ,value:@home_menu.name,:class => "home_menu_title"%><br />
    <%= label_tag(:content,'内容：',:class => "home_menu_content")%><br />
    <%= f.kindeditor :content,value:@home_page.content, filterMode:false,height:700, uploadJson: "/block_contents/editor_upload"%>
    <p class="home_menu_content"><%= label_tag(:show_in_menu,'在菜单中显示：',:class => "home_menu_content")%><br />
    <span class="home_menu_content2"><%=f.check_box :show_in_menu,value:@home_menu.show_in_menu%>在网站菜单中显示这个页面;</span></p>
    <%=f.hidden_field :home_menu_id, value: @home_menu_id%>
    <p class="home_menu_content"><%= label_tag(:link_url,'自定义页面url路径',:class => "home_menu_content")%><br />
      <span class="home_menu_content2">（用来覆盖默认创建的url,例如：about_me）：</span><br />
    <%=f.text_field :link_url,value:@home_menu.link_url, onblur:"check_link_url(value)"%><span id="link_url_error" style="color:red;font-size: 12px;"></span> </p>

    <p class="home_menu_content"><%= label_tag(:redirect_url,'重定向这个页面到其他的网站或页面:',:class => "home_menu_content")%><br />
      <span class="home_menu_content2">(例如：http://www.kanbing365.com)</span><br />
    <%=f.text_field :redirect_url,value:@home_menu.redirect_url, onblur:"check_redirect_url(value)"%> <span id="redirect_error" style="color:red;font-size: 12px;"></span>
    </p>
    <div class="col-md-2" style="padding:0;"><%=f.submit '保存',:class=>"add_btn"%> </div>
    <div class="col-md-2" style="padding:0;margin-left:15px;"><%= button_tag '取消',type:'button',:class=>"q_btn"%></div>
<% end %>

<%= javascript_include_tag 'home_menu/edit'%>
