<%= form_for :home_menu,html: {multipart: true, id: 'home_menu_form'} do |f| %>
    <%= label :name,'标题',:class => "home_menu_content"%><br />
    <%=f.text_field :name ,:class => "home_menu_title"%><br />
    <%= label_tag(:content,'内容：',:class => "home_menu_content")%><br />
    <%= f.kindeditor :content %>
    <%=f.hidden_field :parent_id, value: @parent_id%>
    <p class="home_menu_content">
    <%= label_tag(:show_in_menu,'在菜单中显示：',:class => "home_menu_content")%><br />
    <span class="home_menu_content2"><%=f.check_box :show_in_menu%>在网站菜单中显示这个页面;</span><br />
    </p>
    <p class="home_menu_content">
    <%= label_tag(:link_url,'自定义页面url路径：',:class => "home_menu_content")%><br />
    <span class="home_menu_content2">（用来覆盖默认创建的url,例如：about_me）</span><br />
    <%=f.text_field :link_url%><br />
    </p>
    <p class="home_menu_content">
    <%= label_tag(:redirect_url,'自定义页面url路径：',:class => "home_menu_content")%><br />
    <span class="home_menu_content2">（用来覆盖默认创建的url,例如：about_me）</span><br />
    <%=f.text_field :redirect_url%>
    </p>
    <div class="col-md-2" style="padding:0;"><%=f.submit '保存',:class=>"add_btn"%></div>
    <div class="col-md-2" style="padding:0;margin-left:15px;">
      <%= button_tag '取消',type:'button',:class=>"q_btn"%>
        </div>
<% end %>



<script>
  var options={
      type:'post',
      url:'home_menu/create',
      success:function(data){
          $.ajax({
              type:'get',
              url:'home_menu/show',
              success:function(data){
                  $("#rightContent").html(data)
              }
          });
      },
      error:function(){
          $.ajax({
              type:'get',
              url:'home_menu/show',
              success:function(data){
                  $("#rightContent").html(data)
              }
          });
      }
  };
    $('#home_menu_form').submit(function () {
        $(this).ajaxSubmit(options);
        return false;
    });
</script>
