<%= form_for :home_menu,html: {multipart: true, id: 'home_menu_form'} do |f| %>
    <%= label :name,'标题',:class => "home_menu_content"%><br />
    <%=f.text_field :name ,:class => "home_menu_title"%><br />
    <%= label_tag(:content,'内容：',:class => "home_menu_cont ent")%><br />
    <%= f.kindeditor :content, uploadJson: "/block_contents/editor_upload" %>
    <%=f.hidden_field :parent_id, value: @parent_id%>
    <p class="home_menu_content">
    <%= label_tag(:show_in_menu,'在菜单中显示：',:class => "home_menu_content")%><br />
    <span class="home_menu_content2"><%=f.check_box :show_in_menu,checked:true%>在网站菜单中显示这个页面;</span>
      </p>
    <%= label_tag(:link_url,'自定义页面url路径：',:class => "home_menu_content")%><br />
    <span class="home_menu_content2">（用来覆盖默认创建的url,例如：about_me）</span><br />
    <%=f.text_field :link_url, onblur:"check_link_url(value)" %><span id="link_url_error" style="color:red;font-size: 12px;"></span><br />
    <p class="home_menu_content">
    <%= label_tag(:redirect_url,'重定向这个页面到其他的网站或页面:',:class => "home_menu_content")%><br />
    <span class="home_menu_content2">(例如：http://www.kanbing365.com)</span><br />
      <%=f.text_field :redirect_url, onblur:"check_redirect_url(value)" %> <span id="redirect_error" style="color:red;font-size: 12px;"></span>
    </p>
    <div class="col-md-2" style="padding:0;"><%=f.submit '保存',:class=>"add_btn"%> </div>
    <div class="col-md-2" style="padding:0;margin-left:15px;"><%= button_tag '取消',type:'button',:class=>"q_btn"%></div>
<% end %>



<script>
  var link_url_flag = true;
  var redirect_url_flag = true;
  function check_link_url(value) {
      if (value != '') {
          $.ajax({
              type: 'get',
              url: 'home_menu/check_url?link_url='+value,
              success: function (data) {
                  if (data['success']) {
                      $("#link_url_error").html('')
                      link_url_flag = true
                  } else {
                      $("#link_url_error").html(' 该url已存在.')
                      link_url_flag = false
                  }
              }
          });
      } else {
          $("#link_url_error").html('')
          link_url_flag = true
      }
  }
  function check_redirect_url(value){
      if (value != '') {
          var str = value.match(/http:\/\/.+/);
          if (str == null) {
              $('#redirect_error').html(' 无效的url路径.')
              redirect_url_flag = false
          } else {
              $('#redirect_error').html('')
              redirect_url_flag = true
          }
      } else {
          $('#redirect_error').html('')
          redirect_url_flag = true
      }

  }
  var options={
      type:'post',
      url:'home_menu/create',
      success:function(data){
          $.ajax({
              type:'get',
              url:'home_menu/show',
              success:function(data){
                  $("#rightContent").html(data)
              }
          });
      },
      error:function(){
          $.ajax({
              type:'get',
              url:'home_menu/show',
              success:function(data){
                  $("#rightContent").html(data)
              }
          });
      }
  };
    $('#home_menu_form').submit(function () {
        if (link_url_flag&&redirect_url_flag) {
            $(this).ajaxSubmit(options);
        }
        return false;
    });
</script>
