
<style>
    .ui-pg-input{
        height:30px;
    }
    .select2-container{
        width:200px;

    }
</style>
<!--<h1>Listing doctors</h1>-->
<div id="search_div" style="margin:10px;">
  医院：<select  id="doctor_hos_id" name="doctor_hos_id" onchange="doc_search_hos()" >
  <option value="">---请选择---</option>
  <% if !@hospitals.nil? && !@hospitals.empty? %>
      <% @hospitals.each do |hos| %>
          <option id='serch_hos_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
      <% end %>
  <% end %>
</select>
  科室：<span id="search_dep_id"><select id="doctor_dep" name="doctor[department_id]" onchange="doc_search_dep()" >
    <option value="all">---请选择---</option>
  <% if !@departments.nil? && !@departments.empty? %>
      <% @departments.each do |hos| %>
          <option id='serch_dep_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
      <% end %>
  <% end %>
</select></span>
  是否激活:<select id="is_activated" onchange="search_activated()">
  <option value="">全部</option>
  <option value="1">已经激活</option>
  <option value="0">未激活</option>
</select>
</div>

<table id="list12"></table>
<div id="pager12"></div>

<script>
    var lastSel = 0
    var row_id;
    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
    jQuery("#list12").jqGrid({
        url: "/doctors/show_index",
        datatype: "json",
        height: "auto",
        colNames:['ID','姓名首字母简拼','姓名', '证件类型','证件号码', '性别','出生日期','出生地','省','市','医院','科室','手机号','邮箱','职称'],
        colModel:[
//            {name:'act',index:'act', width:75,sortable:false},
            {name:'id',index:'id', width:120, sorttype:"int", hidden:true,search:false },
            {name:'spell_code',index:'spell_code', width:120, search:true , hidden:true,searchoptions: {searchhidden:true, sopt: ['in']}},
            {name:'name',index:'name', width:55, editable: true ,searchoptions: { sopt: ['in']}},
            {name:'credential_type',index:'credential_type', width:100, editable: true ,edittype:"select",editoptions:{value:"身份证:身份证;其他:其他"},search:false },
            {name:'credential_type_number',index:'credential_type_number', width:180, editable: true ,searchoptions: { sopt: ['in']}},
            {name:'gender',index:'gender', width:40, editable: true ,search:false },
            {name:'birthday',index:'birthday', width:90, editable: true ,search:false },
            {name:'birthplace',index:'birthplace', width:80, editable: true ,search:false },
            {name:'province_name',index:'province_name', width:100, editable: true,search:false  },
            {name:'city_name',index:'city_name', width:100, editable: true ,search:false },
            {name:'hospital_id',index:'hospital_id', width:100, editable: true,search:false  },
            {name:'department_id',index:'department_id', width:100, editable: true,search:false  },
            {name:'mobile_phone',index:'mobile_phone', width:100, align:"right", editable: true,searchoptions: { sopt: ['in']} },
            {name:'email',index:'email', width:130, align:"right", editable: true ,searchoptions: { sopt: ['in']}},
            {name:'professional_title',index:'professional_title', width:80,align:"right",editable: true,search:false }
//            {name:'introduction',index:'introduction', width:260, sortable:false}
        ],
        pager: jQuery('#pager12'),
        sortname: 'id',
//        loadurl:"disable",
//        treeGrid:true,
        ExpandColumn: "menu",
        autowidth: true,
        rowNum: 20,
        rowList:[10,20,30,40],
        altRows: true,
        ignoreCase: true,
        onSelectRow: function(id){
            selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
        },

        viewrecords: true,
        editurl:'/doctors/',
        multiselect: true,
        caption: "医生列表"
    });

    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
//    自定义按钮
    $("#list12").jqGrid('navGrid','#pager12',{edit:false,add:false,del:false,search:false,searchtext:"查找",refreshtext:"刷新"});
    $("#list12").navButtonAdd('#pager12', {position: 'last', title: '添加', caption: '添加',id:'addDoctor', onClickButton: addDoctor});
    $("#list12").navButtonAdd('#pager12', {position: 'last', title: '删除', caption: '删除',id:'deleteDoctor', onClickButton: deleteDoctor});
    $("#list12").navButtonAdd('#pager12', {position: 'last', title: '修改', caption: '修改',id:'updateDoctor', onClickButton: updateDoctor});
    $("#list12").navButtonAdd('#pager12', {position: 'last', title: '邮箱激活', caption: '邮箱激活',id:'sendEmailDoctor', onClickButton: sendEmailDoctor});
    $("#list12").navButtonAdd('#pager12', {position: 'last', title: '手机激活', caption: '手机激活',id:'sendPhoneDoctor', onClickButton: sendPhoneDoctor});


//    添加医生
    function addDoctor(){
        $.ajax({
            type:'get',
            url:'/doctors/new',
            success:function(data){
                $('#create_or_edit_form').html(data)

            }
        })
        $('#create_or_edit_form').modal('show')
    };
// 删除医生
    function deleteDoctor(){
        if(confirm("确定要删除吗？") ) {
            $.ajax({
                type: 'delete',
                url: '/doctors/' + selectedIds + '',
                success: function (data) {
                    if (data['success']) {
                        alert('删除成功!')
                    } else {
                        alert('删除失败!')
                    }
                }
            })
        }
        var url= "/doctors/show_index?hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    };
// 修改医生
    function updateDoctor(){
        if (selectedIds.length==1){
            $.ajax({
                type:'get',
                url:'/doctors/'+selectedIds+'/edit',
                success:function(data){
                    $('#create_or_edit_form').html(data)
                }
            })
            $('#create_or_edit_form').modal('show')
        }else{
            alert('必须且只能选择一条记录!')
        }
    };

// 发送邮箱验证码
    function sendEmailDoctor(){
        if (selectedIds.length>0){
            $.ajax({
                type:'get',
                url:'/doctors/send_email?doc_ids='+selectedIds+'',
                success:function(data){
                    if (data['success']){
                        alert('发送成功!')
                    }else {
                        alert('发送失败!如果是多个,可能部分发送成功!')
                    }
                }
            })
        }else{
            alert('请至少选择一条记录!')
        }
        var url= "/doctors/show_index?hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    };
//    发送手机验证码
    function sendPhoneDoctor(){
        if (selectedIds.length>0){
            $.ajax({
                type:'get',
                url:'/doctors/send_phone?doc_ids='+selectedIds,
                success:function(data){
                    if (data['success']){
                        alert('发送成功!')
                    }else {
                        alert('发送失败!如果是多个,可能部分发送成功!')
                    }

                }
            })
        }else{
            alert('请至少选择一条记录!')
        }
        var url= "/doctors/show_index?hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    };


    function doc_search_hos(){
//        $('#searchString').val('')
        var hos_id = $('#doctor_hos_id').val()
        $.ajax({
            type: 'get',
            url: '/doctors/search_department?hos_id='+hos_id,
            success: function (data) {
                $('#search_dep_id').html(data)
            }
        })
        jQuery("#list12").jqGrid('setGridParam', {url: "/doctors/show_index?hos_id=" + $('#doctor_hos_id').val()  + "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
    }
    function doc_search_dep(){
//        $('#searchString').val('')
        jQuery("#list12").jqGrid('setGridParam', {url: "/doctors/show_index?hos_id=" + $('#doctor_hos_id').val() + "&dep_id=" + $('#doctor_dep').val()  + "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
    }
    function search_activated(){
//        $('#searchString').val('')
        jQuery("#list12").jqGrid('setGridParam', {url: "/doctors/show_index?hos_id=" + $('#doctor_hos_id').val() + "&dep_id=" + $('#doctor_dep').val()  + "&is_activated=" + $('#is_activated').val()}).trigger("reloadGrid")
    }
    $(function() {
        $("#doctor_hos_id").select2();
        $("#doctor_dep").select2();
        $("#is_activated").select2();
    })
</script>
<div class="modal fade" id="create_or_edit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
