
<style>
    .ui-pg-input{
        height:30px;
    }
    .select2-container{
        width:200px;

    }
</style>
<!--<h1>Listing doctors</h1>-->
<div id="search_div" style="margin:10px;">
  医院：<select  id="doctor_hos_id" name="doctor_hos_id" onchange="doc_search_hos()" >
  <!--<option value="">---请选择---</option>-->
  <%# if @hospitals.nil? %>
  <%# @hospitals = Hospital.all %>
  <%# end %>
  <% if !@hospitals.nil? && !@hospitals.empty? %>
      <% @hospitals.each do |hos| %>
          <option id='serch_hos_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
      <% end %>
  <% end %>
</select>
  科室：<span id="search_dep_id"><select id="doctor_dep" name="doctor[department_id]" onchange="doc_search_dep()" >
  <% if params[:dep_id] == '' %>
    <option value="">---请选择---</option>
  <% end %>
  <% if !@departments.nil? && !@departments.empty? %>
      <% @departments.each do |hos| %>
          <option id='serch_dep_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
      <% end %>
  <% end %>
</select></span>
  是否激活:<select id="is_activated" onchange="search_activated()">
  <option value="">全部</option>
  <option value="1">已经激活</option>
  <option value="0">未激活</option>
</select>
</div>
<div style="margin:10px;" id="permission_buttons">
  <a id="create_doctor" class="btn btn-default btn-sm disabled" role="button">添加医生</a>
  <a id="edit_doctor" class="btn btn-default btn-sm disabled" role="button">编辑医生</a>
  <a id="delete_doctor" class="btn btn-default btn-sm disabled" role="button">删除医生</a>
  <a id="send_email_doctor" class="btn btn-default btn-sm disabled" role="button">发送邮箱激活码</a>
  <a id="send_phone_doctor" class="btn btn-default btn-sm disabled" role="button">发送手机激活码</a>
</div>
<table id="list12"></table>
<div id="pager12"></div>

<script>
    var lastSel = 0
    var row_id;
    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
    jQuery("#list12").jqGrid({
        url: "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=<%=@hos_id%>&dep_id=<%=@dep_id%>",
        datatype: "json",
        height: "auto",
        colNames:['ID','姓名', '证件类型','证件号码', '性别','出生日期','出生地','省','市','医院','科室','手机号','邮箱','职称'],
        colModel:[
//            {name:'act',index:'act', width:75,sortable:false},
            {name:'id',index:'id', width:120, sorttype:"int"},
            {name:'name',index:'name', width:55, editable: true },
            {name:'credential_type',index:'credential_type', width:100, editable: true ,edittype:"select",editoptions:{value:"身份证:身份证;其他:其他"}},
            {name:'credential_type_number',index:'credential_type_number', width:180, editable: true },
            {name:'gender',index:'gender', width:40, editable: true },
            {name:'birthday',index:'birthday', width:90, editable: true },
            {name:'birthplace',index:'birthplace', width:80, editable: true },
            {name:'province_name',index:'province_name', width:100, editable: true },
            {name:'city_name',index:'city_name', width:100, editable: true },
            {name:'hospital_id',index:'hospital_id', width:100, editable: true },
            {name:'department_id',index:'department_id', width:100, editable: true },
            {name:'mobile_phone',index:'mobile_phone', width:100, align:"right", editable: true },
            {name:'email',index:'email', width:130, align:"right", editable: true },
            {name:'professional_title',index:'professional_title', width:80,align:"right",editable: true },
//            {name:'introduction',index:'introduction', width:260, sortable:false}
        ],
        pager: jQuery('#pager12'),
        sortname: 'id',
//        loadurl:"disable",
//        treeGrid:true,
        ExpandColumn: "menu",
        autowidth: true,
        rowNum: 20,
        rowList:[10,20,30,40],
        altRows: true,
        ignoreCase: true,
//        onSortCol: function(name,index){ alert("Column Name: "+name+" Column Index: "+index);},
//        ondblClickRow: function(id){ alert("You double click row with id: "+id);},
        onSelectRow: function(id){
//            {
//                jQuery('#list12').restoreRow(lastSel);	// restore last grid row
//                jQuery('#list12').editRow(id,true);		// show form elements for the row selected to enable updates
//                lastSel = id;												// save current row ID so that when focus is gone it can be restored
//            }
            selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
//            row_id = id
//            var selected_ids = ''+selectedIds
//            if (selected_ids.split(',').length>0) {
//                $('#edit_doctor').removeClass('disabled')
//                $('#edit_doctor').addClass('active')
//                $('#delete_doctor').removeClass('disabled')
//                $('#delete_doctor').addClass('active')
//                $('#send_email_doctor').removeClass('disabled')
//                $('#send_email_doctor').addClass('active')
//                $('#send_phone_doctor').removeClass('disabled')
//                $('#send_phone_doctor').addClass('active')
//            }
//            if(selected_ids.split(',')[0]==''){
//                $('#edit_doctor').removeClass('active')
//                $('#edit_doctor').addClass('disabled')
//                $('#delete_doctor').removeClass('active')
//                $('#delete_doctor').addClass('disabled')
//                $('#send_email_doctor').removeClass('active')
//                $('#send_email_doctor').addClass('disabled')
//                $('#send_phone_doctor').removeClass('active')
//                $('#send_phone_doctor').addClass('disabled')
//            }
//            if (selected_ids.split(',').length>1){
//                $('#edit_doctor').removeClass('active')
//                $('#edit_doctor').addClass('disabled')
//            }
//            $.ajax({
//                type:'get',
//                url:'/doctors/is_executable?id='+selectedIds+'&menu_id=<%#=@menu_id%>',
//                success:function(data){
//                    if (data['is_manage']) {
//                        $('#edit_doctor').removeClass('disabled')
//                        $('#edit_doctor').addClass('active')
//                        $('#delete_doctor').removeClass('disabled')
//                        $('#delete_doctor').addClass('active')
//                    }
//                    if (data['is_edit']) {
//                        $('#edit_doctor').removeClass('disabled')
//                        $('#edit_doctor').addClass('active')
//                    }
//                    if (data['is_delete']) {
//                        $('#delete_doctor').removeClass('disabled')
//                        $('#delete_doctor').addClass('active')
//                    }
//                    var selected_ids = ''+selectedIds
//                    if (selected_ids.split(',').length>0 && data['is_activated']) {
//                        $('#send_email_doctor').removeClass('disabled')
//                        $('#send_email_doctor').addClass('active')
//                        $('#send_phone_doctor').removeClass('disabled')
//                        $('#send_phone_doctor').addClass('active')
//                    }
//                    if(selected_ids.split(',')[0]==''){
//                        $('#edit_doctor').removeClass('active')
//                        $('#edit_doctor').addClass('disabled')
//                        $('#delete_doctor').removeClass('active')
//                        $('#delete_doctor').addClass('disabled')
//                        $('#send_email_doctor').removeClass('active')
//                        $('#send_email_doctor').addClass('disabled')
//                        $('#send_phone_doctor').removeClass('active')
//                        $('#send_phone_doctor').addClass('disabled')
//                    }
//                    if (selected_ids.split(',').length>1){
//                        $('#edit_doctor').removeClass('active')
//                        $('#edit_doctor').addClass('disabled')
//                    }
//                }
//            })
        },
//        gridComplete: function(){
//            if(selectedIds){
//                var selected_ids = ''+selectedIds
//                if (selected_ids.split(',')[0]!=''){
//                    for(var i=0; i<selected_ids.split(',').length;i++){
//                        $(this).jqGrid("setSelection",selected_ids.split(',')[i]);
//                    }
//                }
//            }
//        },
        viewrecords: true,
//        sortorder: "desc",
        editurl:'/doctors/',
        multiselect: true,
        caption: "医生列表"
    });
    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
    $( "#create_doctor" ).button().on( "click", function() {
        $.ajax({
            type:'get',
            url:'/doctors/new?menu_id=<%=@menu_id%>&hos_id=' + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val(),
            success:function(data){
                $('#create_or_edit_form').html(data)

            }
        })
        $('#create_or_edit_form').modal('show')
    });
    $( "#edit_doctor").button().on( "click", function() {
        if (selectedIds.length==1){
            $.ajax({
                type:'get',
                url:'/doctors/'+selectedIds+'/edit?menu_id=<%=@menu_id%>&hos_id=' + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val(),
                success:function(data){
                    $('#create_or_edit_form').html(data)
                }
            })
            $('#create_or_edit_form').modal('show')
        }else{
            alert('必须且只能选择一条记录!')
        }

    });
    $( "#delete_doctor").button().on( "click", function() {
        if(confirm("确定要删除吗？") ) {
            $.ajax({
                type: 'delete',
                url: '/doctors/' + selectedIds + '',
                success: function (data) {
                    if (data['success']) {
                        alert('删除成功!')
                    } else {
                        alert('删除失败!')
                    }
                }
            })
        }
//        $('#create_or_edit_form').modal('show')
        var url= "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
//        $('#refresh_list12').click()
    });
    $( "#send_email_doctor").button().on( "click", function() {
        $.ajax({
            type:'get',
            url:'/doctors/send_email?doc_ids='+selectedIds+'',
            success:function(data){
                if (data['success']){
                    alert('发送成功!')
                }else {
                    alert('发送失败!如果是多个,可能部分发送成功!')
                }
            }
        })
        var url= "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    });
    $( "#send_phone_doctor").button().on( "click", function() {
        $.ajax({
            type:'get',
            url:'/doctors/send_phone?doc_ids='+selectedIds,
            success:function(data){
                if (data['success']){
                    alert('发送成功!')
                }else {
                    alert('发送失败!如果是多个,可能部分发送成功!')
                }

            }
        })
        var url= "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    });
    function doc_search_hos(){
        var hos_id = $('#doctor_hos_id').val()
        $.ajax({
            type: 'get',
            url: '/doctors/search_department?menu_id=<%=@menu_id%>&hos_id='+hos_id,
            success: function (data) {
                $('#search_dep_id').html(data)
            }
        })
        $.ajax({
                    type: "get",
                    url: '/doctors/is_permission?menu_id=<%=@menu_id%>&hospital_id=' + $('#doctor_hos_id').val() + '&department_id=',
                    data: 'text',
                    success: function (data) {
                        if (data['add']){
                            $('#create_doctor').removeClass('disabled')
                            $('#create_doctor').addClass('active')
                        }else{
                            $('#create_doctor').removeClass('active')
                            $('#create_doctor').addClass('disabled')
                        }
                        if (data['delete']){
                            $('#delete_doctor').removeClass('disabled')
                            $('#delete_doctor').addClass('active')
                        }else{
                            $('#delete_doctor').removeClass('active')
                            $('#delete_doctor').addClass('disabled')
                        }
                        if (data['update']){
                            $('#edit_doctor').removeClass('disabled')
                            $('#edit_doctor').addClass('active')
                        }else{
                            $('#edit_doctor').removeClass('active')
                            $('#edit_doctor').addClass('disabled')
                        }
                        if (data['show']){
                            $('#send_email_doctor').removeClass('disabled')
                            $('#send_email_doctor').addClass('active')
                            $('#send_phone_doctor').removeClass('disabled')
                            $('#send_phone_doctor').addClass('active')
                        }else{
                            $('#send_email_doctor').removeClass('active')
                            $('#send_email_doctor').addClass('disabled')
                            $('#send_phone_doctor').removeClass('active')
                            $('#send_phone_doctor').addClass('disabled')
                        }
                    }
                }
        );
        jQuery("#list12").jqGrid('setGridParam', {url: "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=" + $('#doctor_hos_id').val() + '&dep_id=' + $('#doctor_dep').val()  + "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
    }
    function doc_search_dep(){
        jQuery("#list12").jqGrid('setGridParam', {url: "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=" + $('#doctor_hos_id').val() + "&dep_id=" + $('#doctor_dep').val()  + "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
        $.ajax({
                    type: "get",
                    url: '/doctors/is_permission?menu_id=<%=@menu_id%>&hospital_id=' + $('#doctor_hos_id').val() + '&department_id=' + $('#doctor_dep').val(),
                    data: 'text',
                    success: function (data) {
                        if (data['add']){
                            $('#create_doctor').removeClass('disabled')
                            $('#create_doctor').addClass('active')
                        }else{
                            $('#create_doctor').removeClass('active')
                            $('#create_doctor').addClass('disabled')
                        }
                        if (data['delete']){
                            $('#delete_doctor').removeClass('disabled')
                            $('#delete_doctor').addClass('active')
                        }else{
                            $('#delete_doctor').removeClass('active')
                            $('#delete_doctor').addClass('disabled')
                        }
                        if (data['update']){
                            $('#edit_doctor').removeClass('disabled')
                            $('#edit_doctor').addClass('active')
                        }else{
                            $('#edit_doctor').removeClass('active')
                            $('#edit_doctor').addClass('disabled')
                        }
                        if (data['show']){
                            $('#send_email_doctor').removeClass('disabled')
                            $('#send_email_doctor').addClass('active')
                            $('#send_phone_doctor').removeClass('disabled')
                            $('#send_phone_doctor').addClass('active')
                        }else{
                            $('#send_email_doctor').removeClass('active')
                            $('#send_email_doctor').addClass('disabled')
                            $('#send_phone_doctor').removeClass('active')
                            $('#send_phone_doctor').addClass('disabled')
                        }
                    }
                }
        );
    }
    function search_activated(){
        jQuery("#list12").jqGrid('setGridParam', {url: "/doctors/show_index?menu_id=<%=@menu_id%>&hos_id=" + $('#doctor_hos_id').val() + "&dep_id=" + $('#doctor_dep').val()  + "&is_activated=" + $('#is_activated').val() }).trigger("reloadGrid")
    }
    $(function() {
        $("#doctor_hos_id").select2();
        $("#doctor_dep").select2();
        $("#is_activated").select2();
        <% if !@hos.nil? %>
        $('#s2id_doctor_hos_id').children('.select2-choice').children('.select2-chosen').html('<%=@hos.name%>');
        document.getElementById("serch_hos_<%=@hos.id%>").setAttribute('selected','selected')
        <% end %>
        <% if !@dep.nil? %>
        $('#s2id_doctor_dep').children('.select2-choice').children('.select2-chosen').html('<%=@dep.name%>');
        document.getElementById("serch_dep_<%=@dep.id%>").setAttribute('selected','selected')
        <% end %>
        $.ajax({
                    type: "get",
                    url: '/doctors/is_permission?menu_id=<%=@menu_id%>&hospital_id=' + $('#doctor_hos_id').val() + '&department_id=' + $('#doctor_dep').val(),
                    data: 'text',
                    success: function (data) {
                        if (data['add']){
                            $('#create_doctor').removeClass('disabled')
                            $('#create_doctor').addClass('active')
                        }else{
                            $('#create_doctor').removeClass('active')
                            $('#create_doctor').addClass('disabled')
                        }
                        if (data['delete']){
                            $('#delete_doctor').removeClass('disabled')
                            $('#delete_doctor').addClass('active')
                        }else{
                            $('#delete_doctor').removeClass('active')
                            $('#delete_doctor').addClass('disabled')
                        }
                        if (data['update']){
                            $('#edit_doctor').removeClass('disabled')
                            $('#edit_doctor').addClass('active')
                        }else{
                            $('#edit_doctor').removeClass('active')
                            $('#edit_doctor').addClass('disabled')
                        }
                        if (data['show']){
                            $('#send_email_doctor').removeClass('disabled')
                            $('#send_email_doctor').addClass('active')
                            $('#send_phone_doctor').removeClass('disabled')
                            $('#send_phone_doctor').addClass('active')
                        }else{
                            $('#send_email_doctor').removeClass('active')
                            $('#send_email_doctor').addClass('disabled')
                            $('#send_phone_doctor').removeClass('active')
                            $('#send_phone_doctor').addClass('disabled')
                        }
                    }
                }
        );
    })
</script>
<div id="dialog-form" title="Create or edit user">
  <%#= render 'form' %>
</div>
<div class="modal fade" id="create_or_edit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
