<style>
    .form-control{
        width :200px;
    }
</style>
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><b>创建或编辑医生</b></h4>
</div>
<div class="modal-body">
<%= form_for(@doctor,remote:true) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="col-md-6 field">
    <%= f.label '姓名' %>
    <%= f.text_field :name ,class:"form-control"%>
  </div>
    <div class="col-md-6 field">
      <%= f.label :性别 %>
      <div id="doc_gender"><%= render partial: 'doctors/gender_partial' %></div>
      <%#= f.text_field :gender ,class:"form-control"%>
    </div>
  </div>
 <div class="row">
  <div class="col-md-6 field">
    <%= f.label '证件类型' %>
    <select id="doctor_credential_type" name="doctor[credential_type]" >
      <option value="">---请选择---</option>
      <option id='居民身份证' value="居民身份证">居民身份证</option>
      <option id='军官证' value="军官证">军官证</option>
      <option id='护照' value="护照">护照</option>
      <option id='武警警官证' value="武警警官证">武警警官证</option>
      <option id='士兵证' value="士兵证">士兵证</option>
      <option id='港澳同胞回乡证' value="港澳同胞回乡证">港澳同胞回乡证</option>
      <option id='外国人居留证' value="外国人居留证">外国人居留证</option>
      <option id='外国人出入境证' value="外国人出入境证">外国人出入境证</option>
      <option id='其它' value="其它">其它</option>
    </select>
    <%#= f.text_field :credential_type ,class:"form-control"%>
  </div>
  <div class="col-md-6 field">
    <%= f.label '证件号码' %>
    <%= f.text_field :credential_type_number,class:"form-control" %>
  </div>
 </div>
 <div class="row">
  <div class="col-md-6 field">
    <%= f.label :生日 %>
    <input id='doc_birthday' data-format="yyyy-MM-dd" name='doctor[birthday]' type="text" class="form-control"/>
    <%#= f.date_select :birthday %>
  </div>
  <div class="col-md-6 field">
    <%= f.label :出生地 %>
    <%= f.text_field :birthplace,class:"form-control" %>
  </div>
 </div>
 <div class="row">
  <div class="col-md-6 field">
    <%= f.label :选择省 %>
    <div id="doc_province"><%= render partial: 'doctors/province_partial' %></div>
    <%#= f.text_field :province_id %>
  </div>
    <div class="col-md-6 field">
      <%= f.label :省名称 %>
      <%= f.text_field :province_name,class:"form-control" %>
    </div>
 </div>
 <div class="row">
  <div class="col-md-6 field">
    <%= f.label :选择市 %>
    <div id="doc_city"><%= render partial: 'doctors/city_partial' %></div>
    <%#= f.number_field :city_id %>
  </div>
    <div class="col-md-6 field">
      <%= f.label :市名称 %>
      <%= f.text_field :city_name ,class:"form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 field">
      <%= f.label :选择医院 %>
      <div id="doc_hospital"><%= render partial: 'doctors/hospital_partial' %></div>
    </div>
    <div class="col-md-6 field">
      <%= f.label :医院名称 %>
      <%= f.text_field :hospital_name ,class:"form-control"%>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :选择科室 %>
      <div id="doc_department"><%= render partial: 'doctors/department_partial' %></div>
    </div>
    <div class="col-md-6 field">
      <%= f.label :科室名称 %>
      <%= f.text_field :department_name,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :地址 %>
      <%= f.text_field :address ,class:"form-control"%>
    </div>
    <div class="col-md-6 field">
      <%= f.label :民族 %>
      <%= f.text_field :nationality,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :国籍 %>
      <%= f.text_field :citizenship,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :照片 %>
      <%= f.text_field :photo,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :婚姻情况 %><br>
      <%= f.text_field :marriage,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :手机号 %><br>
      <%= f.text_field :mobile_phone,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :家庭电话 %><br>
      <%= f.text_field :home_phone,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :家庭地址 %><br>
      <%= f.text_field :home_address,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :联系人 %><br>
      <%= f.text_field :contact,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :联系电话 %><br>
      <%= f.text_field :contact_phone,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :家庭邮编 %><br>
      <%= f.text_field :home_postcode,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :个人电子邮件 %><br>
      <%= f.text_field :email,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :说明 %><br>
      <%= f.text_field :introduction,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :专业职称 %><br>
      <%= f.text_field :professional_title,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :职位 %><br>
      <%= f.text_field :position,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :雇佣日期 %><br>
      <input id='doc_hire_date' data-format="yyyy-MM-dd" name='doctor[hire_date]' type="text" class="form-control"/>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :证书号码 %><br>
      <%= f.text_field :certificate_number,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :专长 %><br>
      <%= f.text_field :expertise,class:"form-control" %>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 field">
      <%= f.label :学历 %><br>
      <%= f.text_field :degree,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :毕业学校 %><br>
      <%= f.text_field :graduated_from,class:"form-control" %>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 field">
      <%= f.label :毕业时间 %><br>
      <input id='doc_graduated_at' data-format="yyyy-MM-dd" name='doctor[graduated_at]' type="text" class="form-control"/>
    </div>
    <div class="col-md-6 field">
      <%= f.label :论文 %><br>
      <%= f.text_field :research_paper,class:"form-control" %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6 field">
      <%= f.label :微信 %><br>
      <%= f.text_field :wechat,class:"form-control" %>
    </div>
    <div class="col-md-6 field">
      <%= f.label :奖励 %><br>
      <%= f.text_field :rewards,class:"form-control" %>
    </div>
   </div>
      <div class="actions" style="display:none;">
        <%= f.submit id:'new_or_edit_doctor'%>
      </div>

</div>
  <div class="modal-footer">
      <%= f.submit '确定',id:'new_or_edit_submit',class:"btn btn-primary",onclick:'create_or_update()'%>
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
  <% end %>
  </div>
</div>
</div>
<script>
  function create_or_update(){
      var result = $('#new_or_edit_doctor').click()
      console.log(result)
      $('#create_or_edit_form').modal('hide')
      var url= "/doctors?menu_id=<%=@menu_id%>"
      jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
//      $.ajax({
//                type:'put',
//                url:'/doctors/<%#= @doctor.id %>?menu_id=<%#=@menu_id%>',
//                success:function(data){
//                    alert(data['success'])
//                 if (data['success']){
//                     $('#create_or_edit_form').modal('hide')
//                 }
//
//                }
//            })
  }
    $(function() {
        $('#doc_graduated_at').datetimepicker({
            lang:'ch',
            timepicker:false,
            format:'Y-m-d'
        });
        $('#doc_hire_date').datetimepicker({
            lang:'ch',
            timepicker:false,
            format:'Y-m-d'
        });
        $('#doctor_credential_type').select2();
        $('#doc_birthday').datetimepicker({
            lang:'ch',
            timepicker:false,
            format:'Y-m-d'
        });
        <% if !params[:id].nil? %>
        <% doctor = Doctor.find_by(id:params[:id]) %>
        $('#doc_birthday').val('<%=doctor.birthday%>')
        $('#doc_hire_date').val('<%=doctor.hire_date%>')
        $('#doc_graduated_at').val('<%=doctor.graduated_at%>')
        <% doc = Doctor.find_by(id:params[:id]) %>
        $('#s2id_doctor_credential_type').children('.select2-choice').children('.select2-chosen').html('<%=doc.credential_type%>')
        document.getElementById('<%=doc.credential_type%>').setAttribute('selected','selected')
//        document.getElementById('doctor_birthday').setAttribute('selected','selected')
        <% end %>
    })
</script>
