<% if @hospitals.nil? %>
    <% @hospitals = Hospital.all %>
<% end %>

  <select  id="doctor_hospital_id" name="doctor[hospital_id]" onchange="search()" >
  <!--<option value="">---请选择---</option>-->
<% if !@hospitals.empty? %>

     <% @hospitals.each do |hos| %>
        <option id='hos_<%= hos.id %>' value="<%= hos.id %>"><%= hos.name %></option>
     <% end %>
<% end %>
   </select>

<script>
    $(function() {
        $("#doctor_hospital_id").select2();
        <% if !params[:id].nil? %>
        <% hos_id = Doctor.find_by(id:params[:id]).hospital_id %>
        <% hospital = Doctor.find_by(id:params[:id]).hospital %>
        <% if !hos_id.nil? && hos_id != '' && !hospital.nil?%>
        $('#s2id_doctor_hospital_id').children('.select2-choice').children('.select2-chosen').html('<%=hospital.name %>')
        if (document.getElementById('hos_<%= hos_id %>') != null) {
            document.getElementById('hos_<%= hos_id %>').setAttribute('selected', 'selected')
        }
        <% end %>
        <% end %>
        search()
    })
    function search() {
        var hos = $("#doctor_hospital_id").val();
        change_department(hos, 'department_id') ;
    }
    function change_department(hos_id, select_id){
        $.ajax({
                    type: "get",
                    url: '/doctors/get_department?menu_id=<%=@menu_id%>&hospital_id=' + hos_id,
                    data: 'text',
                    success: function (data) {
                        $("#doc_department").html(data);
                    }
                }
        );
    }
</script>
