
<style>
    .ui-pg-input{
        height:30px;
    }
</style>
<!--<h1>Listing doctors</h1>-->
<div style="margin:10px;">
  <a id="create_doctor" class="btn btn-primary btn-sm active" role="button">添加医生</a>
  <a id="edit_doctor" class="btn btn-default btn-sm disabled" role="button">编辑医生</a>
  <a id="delete_doctor" class="btn btn-default btn-sm disabled" role="button">删除医生</a>
  <a id="send_email_doctor" class="btn btn-default btn-sm disabled" role="button">发送邮箱激活码</a>
  <a id="send_phone_doctor" class="btn btn-default btn-sm disabled" role="button">发送手机激活码</a>
</div>
<table id="list12"></table>
<div id="pager12"></div>

<script>
var lastSel = 0
    var row_id;
    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
    jQuery("#list12").jqGrid({
        url: "/doctors?menu_id=<%=@menu_id%>",
        datatype: "json",
        height: "auto",
        colNames:['ID','姓名', '证件类型','证件号码', '性别','出生日期','出生地','省','市','医院','科室','手机号','邮箱','职称'],
        colModel:[
//            {name:'act',index:'act', width:75,sortable:false},
            {name:'id',index:'id', width:120, sorttype:"int"},
            {name:'name',index:'name', width:55, editable: true },
            {name:'credential_type',index:'credential_type', width:100, editable: true ,edittype:"select",editoptions:{value:"身份证:身份证;其他:其他"}},
            {name:'credential_type_number',index:'credential_type_number', width:180, editable: true },
            {name:'gender',index:'gender', width:40, editable: true },
            {name:'birthday',index:'birthday', width:90, editable: true },
            {name:'birthplace',index:'birthplace', width:80, editable: true },
            {name:'province_name',index:'province_name', width:100, editable: true },
            {name:'city_name',index:'city_name', width:100, editable: true },
            {name:'hospital_id',index:'hospital_id', width:100, editable: true },
            {name:'department_id',index:'department_id', width:100, editable: true },
            {name:'mobile_phone',index:'mobile_phone', width:100, align:"right", editable: true },
            {name:'email',index:'email', width:130, align:"right", editable: true },
            {name:'professional_title',index:'professional_title', width:80,align:"right",editable: true },
//            {name:'introduction',index:'introduction', width:260, sortable:false}
        ],
        pager: jQuery('#pager12'),
        sortname: 'id',
//        loadurl:"disable",
//        treeGrid:true,
        ExpandColumn: "menu",
        autowidth: true,
        rowNum: 20,
        rowList:[10,20,30,40],
        altRows: true,
        ignoreCase: true,
//        onSortCol: function(name,index){ alert("Column Name: "+name+" Column Index: "+index);},
//        ondblClickRow: function(id){ alert("You double click row with id: "+id);},
        onSelectRow: function(id){
//            {
//                jQuery('#list12').restoreRow(lastSel);	// restore last grid row
//                jQuery('#list12').editRow(id,true);		// show form elements for the row selected to enable updates
//                lastSel = id;												// save current row ID so that when focus is gone it can be restored
//            }
            selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
            row_id = id
            $.ajax({
                type:'get',
                url:'/doctors/is_executable?id='+selectedIds+'&menu_id=<%=@menu_id%>',
                success:function(data){
                    if (data['is_manage']) {
                        $('#edit_doctor').removeClass('disabled')
                        $('#edit_doctor').addClass('active')
                        $('#delete_doctor').removeClass('disabled')
                        $('#delete_doctor').addClass('active')
                    }
                    if (data['is_edit']) {
                        $('#edit_doctor').removeClass('disabled')
                        $('#edit_doctor').addClass('active')
                    }
                    if (data['is_delete']) {
                        $('#delete_doctor').removeClass('disabled')
                        $('#delete_doctor').addClass('active')
                    }
                    var selected_ids = ''+selectedIds
                    if (selected_ids.split(',').length>0 && data['is_activated']) {
                        $('#send_email_doctor').removeClass('disabled')
                        $('#send_email_doctor').addClass('active')
                        $('#send_phone_doctor').removeClass('disabled')
                        $('#send_phone_doctor').addClass('active')
                    }
                    if(selected_ids.split(',')[0]==''){
                        $('#edit_doctor').removeClass('active')
                        $('#edit_doctor').addClass('disabled')
                        $('#delete_doctor').removeClass('active')
                        $('#delete_doctor').addClass('disabled')
                        $('#send_email_doctor').removeClass('active')
                        $('#send_email_doctor').addClass('disabled')
                        $('#send_phone_doctor').removeClass('active')
                        $('#send_phone_doctor').addClass('disabled')
                    }
                    if (selected_ids.split(',').length>1){
                        $('#edit_doctor').removeClass('active')
                        $('#edit_doctor').addClass('disabled')
                    }
                }
            })
        },
        gridComplete: function(){
            if(selectedIds){
                var selected_ids = ''+selectedIds
                if (selected_ids.split(',')[0]!=''){
                    for(var i=0; i<selected_ids.split(',').length;i++){
                        $(this).jqGrid("setSelection",selected_ids.split(',')[i]);
                    }
                }
            }
        },
        viewrecords: true,
//        sortorder: "desc",
        editurl:'/doctors/',
        multiselect: true,
        caption: "医生列表"
    });
    jQuery("#list12").jqGrid('navGrid','#pager12',{edit:false,add:false,del:false});
    var selectedIds  = jQuery("#list12").jqGrid("getGridParam","selarrrow");
    $(function() {
        var dialog, form,
                emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                name = $( "#name" ),
                email = $( "#email" ),
                password = $( "#password" ),
                allFields = $( [] ).add( name ).add( email ).add( password ),
                tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                        min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }
        function checkBlank( o, n) {
            if ( o.val().length < 1) {
                o.addClass( "ui-state-error" );
                updateTips( n + " 不可为空." );
                return false;
            } else {
                return true;
            }
        }
        function checkRegexp( o, regexp, n ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
            } else {
                return true;
            }
        }

        function addUser() {
            var valid = true;
//            allFields.removeClass( "ui-state-error" );
//
            valid = valid && checkBlank( name, "出生日期");
//            valid = valid && checkLength( email, "email", 6, 80 );
//            valid = valid && checkLength( password, "password", 5, 16 );
//
//            valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
//            valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
//            valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
//
            if ( valid ) {
//                $( "#users tbody" ).append( "<tr>" +
//                        "<td>" + name.val() + "</td>" +
//                        "<td>" + email.val() + "</td>" +
//                        "<td>" + password.val() + "</td>" +
//                        "</tr>" );
                  $('#new_or_edit_doctor').click()
                dialog.dialog( "close" );
            }
//            return valid;


        }

        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 800,
            width: 700,
            modal: true,
            buttons: {
                "确定": addUser,
                "取消": function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
            }
        });

        form = dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            addUser();
        });
    });
    $( "#create_doctor" ).button().on( "click", function() {
                $.ajax({
                    type:'get',
                    url:'/doctors/new?&menu_id=<%=@menu_id%>',
                    success:function(data){
                        $('#create_or_edit_form').html(data)

                    }
                })
                $('#create_or_edit_form').modal('show')
            });
    $( "#edit_doctor").button().on( "click", function() {
                $.ajax({
                    type:'get',
                    url:'/doctors/'+selectedIds+'/edit?menu_id=<%=@menu_id%>',
                    success:function(data){
                        $('#create_or_edit_form').html(data)
                    }
                })
        $('#create_or_edit_form').modal('show')
            });
    $( "#delete_doctor").button().on( "click", function() {
        if(confirm("确定要删除吗？") ) {
            $.ajax({
                type: 'delete',
                url: '/doctors/' + selectedIds + '?menu_id=<%=@menu_id%>',
                success: function (data) {
                    if (data['success']) {
                        alert('删除成功!')
                    } else {
                        alert('删除失败!')
                    }
                }
            })
        }
//        $('#create_or_edit_form').modal('show')
        var url= "/doctors?menu_id=<%=@menu_id%>"
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
//        $('#refresh_list12').click()
    });
    $( "#send_email_doctor").button().on( "click", function() {
                $.ajax({
                    type:'get',
                    url:'/doctors/send_email?doc_ids='+selectedIds+'&menu_id=<%=@menu_id%>',
                    success:function(data){
                        if (data['success']){
                            alert('发送成功!')
                        }else {
                            alert('发送失败!如果是多个,可能部分发送成功!')
                        }
                    }
                })
        var url= "/doctors?menu_id=<%=@menu_id%>"
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    });
    $( "#send_phone_doctor").button().on( "click", function() {
                $.ajax({
                    type:'get',
                    url:'/doctors/send_phone?doc_ids='+selectedIds+'&menu_id=<%=@menu_id%>',
                    success:function(data){
                        if (data['success']){
                            alert('发送成功!')
                        }else {
                            alert('发送失败!如果是多个,可能部分发送成功!')
                        }

                    }
                })
        var url= "/doctors?menu_id=<%=@menu_id%>"
        jQuery("#list12").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
    });
</script>
<div id="dialog-form" title="Create or edit user">
  <%#= render 'form' %>
</div>
<div class="modal fade" id="create_or_edit_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>姓名</th>-->
      <!--<th>证件类型</th>-->
      <!--<th>证件号码</th>-->
      <!--<th>性别</th>-->
      <!--<th>出生日期</th>-->
      <!--<th>出生地</th>-->
      <!--<th>省</th>-->
      <!--<th>市</th>-->
      <!--<th>雇佣日期</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<%# @doctors.each do |doctor| %>-->
      <!--<tr>-->
        <!--<td><%#= doctor.name %></td>-->
        <!--<td><%#= doctor.credential_type %></td>-->
        <!--<td><%#= doctor.credential_type_number %></td>-->
        <!--<td><%#= doctor.gender %></td>-->
        <!--<td><%#= doctor.birthday %></td>-->
        <!--<td><%#= doctor.birthplace %></td>-->
        <!--<td><%#= doctor.province_id %></td>-->
        <!--<td><%#= doctor.city_id %></td>-->
        <!--<td><%#= doctor.hire_date %></td>-->
        <!--<td><%#= link_to 'Show', doctor %></td>-->
        <!--<td><%#= link_to 'Edit', edit_doctor_path(doctor) %></td>-->
        <!--<td><%#= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<%# end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->

<%#= link_to 'New Doctor', new_doctor_path %>
