<%= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<%= stylesheet_link_tag 'fancybox' %>
<style>
    .container .carousel-indicators li {
        border: 1px solid #00978B;
    }

    .carousel-indicators .active {
        margin: 0;
        width: 12px;
        height: 12px;
        background-color: rgb(116, 206, 195);
    }

    .video_lists {

    }

    .title {
        color: #222;
        background: -ms-linear-gradient(top, #f5fafd, #ebf6f8);
        border-bottom: 1px solid #e5e5e5;
        background: -moz-linear-gradient(center top, #f5fafd, #ebf6f8) repeat scroll 0 0 transparent;
        background: -webkit-linear-gradient(#f5fafd, #ebf6f8) repeat scroll 0 0 transparent;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#f5fafd, endColorStr=#ebf6f8); /* IE 6 7 8  */
        line-height: 40px;
        padding: 0 10px;
        font-family: Arial, "Microsoft YaHei";
        font-size: 16px;
    }

    .video_lists table tr {

        line-height: 30px;
    }

    .video_img {
        border-radius: 2px;
        border: 1px solid #A7A7A7;
        margin: 5px 0;
    }

    .video_lists table tr:hover {

        cursor: pointer;
    }

    .video_lists table thead tr:hover {
        background: none;
    }

    .video_lists table tr td {
        text-align: center;
    }

    @media (min-width: 1200px) {
        #ultrasound {
            float: left;
            margin-right: 10px;
        }

        .videos {
            float: left;
            width: 375px;
        }

    }
</style>
<div class="container" style="margin-top:50px;padding:0px;">
  <div id="videoPlayer" style="width: 100%;height: 100%">

  </div>

  <div id="ultrasound" style="text-align:center;margin-top:10px;" class="index_box">
    <div class="title text-left">
      <strong>超声报告</strong>
    </div>
    <div id="more" style="display: none;width: 780px">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>-->
          <!--<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>-->
        </ol>
        <div class="carousel-inner">
          <!--<div class="item  active">-->
          <!--<img src="http://www.kanbing365.com:7500/files/2b0f158c883d4d67abc8ff326e053ee5.png"/>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="http://www.kanbing365.com:7500/files/2b0f158c883d4d67abc8ff326e053ee5.png"/>-->
          <!--</div>-->

        </div>
        <!--图片翻页按钮-->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <div id="one" style="width: 780px">
      <!--<img id="pic_png" width="780px"  style="margin:0 auto;" />-->
      <%= render partial: 'health_records/ultrasound_report' %>
    </div>

  </div>
  <div style="margin:0 auto;" class="space3 videos">
    <div class="index_box" style="margin-top:10px;">
      <div class="title">
        <strong>超声视频</strong>
      </div>
      <div id="videos" class="video_lists ">
        <table style="width:100%;">
        </table>
      </div>
    </div>
    <div class="index_box" style="margin-top:10px;">
      <div class="title">
        <strong>超声图片</strong>
      </div>
      <div id="pictures" class="video_lists">
        <table style="width:100%;">

        </table>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        $('.carousel').carousel({
            interval: false
        });
        var cWidth = $('.container').width();
        var iWidth = (cWidth - 650) / 3;
        <%if @pics.nil? || @pics.length == 0%>
        $('#pictures table').append("<p style='text-align:center;margin:15px 0px;color:#666;'>暂无超声图片相关信息</p>");
        $('#pictures1 table').append("<p style='text-align:center;margin:15px 0px;color:#666;'>暂无超声图片相关信息</p>");
        <% else %>
        <% i=0 %>
        <% while i<@pics.length%>
        <% if @pics.length-i ==1 %>
        $('#pictures table').append('<tr><td><a class="pictures" href="<%= Settings.aliyunOSS.image_url + @pics[i] %>"><img width="' + iWidth + 'px" src="<%= Settings.aliyunOSS.image_url + @pics[i]%>" class="video_img"/></a></td><td></td></tr>');
        <% else %>
        $('#pictures table').append('<tr><td><a class="pictures" href="<%= Settings.aliyunOSS.image_url + @pics[i] %>"><img width="' + iWidth + 'px" src="<%= Settings.aliyunOSS.image_url + @pics[i] %>" class="video_img"/></a></td><td><a class="pictures" href="<%= Settings.aliyunOSS.image_url + @pics[i] %>"><img width="' + iWidth + 'px" src="<%= Settings.aliyunOSS.image_url + @pics[i] %>" class="video_img"/></a></td></tr>');
        <% end %>
        <% i+=2 %>
        <% end %>
        <% j=0 %>
        <% if @pics.length-j ==1 %>
        $('#pictures1 table').append('<tr><td><img style="width:50%;height:250px;" src="<%= Settings.aliyunOSS.image_url + @pics[j] %>" class="video_img"/></td><td></td></tr>');
        <% else %>
        $('#pictures1 table').append('<tr><td><img style="width:95%;height:250px;" src="<%= Settings.aliyunOSS.image_url + @pics[j] %>" class="video_img"/></td><td><img style="width:95%;height:250px;" src="<%= Settings.aliyunOSS.image_url + @pics[j] %>" class="video_img"/></td></tr>');
        <% end %>
        <% end %>
        <%if @videos.nil? || @videos.length == 0%>
        $('#videos table').append("<p style='text-align:center;margin:15px 0px;color:#666;'>暂无超声视频相关信息</p>");
        <% else %>
        <%# j=0 %>
        <%# while j<@videos.length %>
        <%# if @videos.length-j ==1 %>
        <% if @pics.length>0 %>
        $('#videos table').append('<tr><td><a href="/health_records/play_video?video_url=<%= @videos.first%>" target="_blank"><img width="' + iWidth + 'px" src="<%= Settings.aliyunOSS.video_url + @pics.first %>" class="video_img" class="video_img"/></a></td><td></td></tr>');
        <% else %>
        $('#videos table').append('<tr><td><a href="/health_records/play_video?video_url=<%= @videos.first%>" target="_blank"><img width="' + iWidth + 'px" src="/icon/videoStart.png" class="video_img" class="video_img"/></a></td><td></td></tr>');
        <% end %>
        <%# end %>
        <%# j+=2 %>
        <%# end %>
        <% end %>
        $('.pictures').fancybox();
    });
</script>