<div id="doctor_console">
  <div id="create_doctor_div">
    <div class="FormData">
      <div class="CaptionTD">选择医生:</div>
      <div class="DataTD" style="float: left">
        <%
           if !@page_block.block_contents.nil? && !@page_block.block_contents.empty?
             @content = @page_block.block_contents.first.content
             sql = 'true'
             if !current_user.nil?
               if !current_user.hospital_id.nil? && !current_user.hospital_id != ''
                 sql << " and hospital_id = #{current_user.hospital_id}"
               end
               if !current_user.department_id.nil? && !current_user.department_id != ''
                 sql << " and department_id = #{current_user.department_id}"
               end
             end
             if !@content.nil? && @content != ''
               sql << " and id not in (#{@content})"
             end
             @doctors_select = Doctor.where(sql)
           end
        %>
        <select id="doctor_select" style="float: left">
          <option value="0">---请选择---</option>
          <% @doctors_select.each do |doc|%>
          <option value="<%= doc.id %>"><%= doc.name%></option>
              <% end %>
        </select>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%">
  <div style="margin-left: 20px;margin-right: 20px;">
    <div class="warning_box">
    <table class="EditTable">
      <tr class="FormData" style="display: block;" id="show_name">
        <td class="CaptionTD"><b>区块名称:</b><%= @page_block.name %></td>
        <td class="DataTD">
          <button type="button" class="btn" onclick="update_name()">修改</button>
        </td>
      </tr>
      <tr class="FormData" style="display: none;" id="edit_name">
        <td class="CaptionTD"><input type="text" class="text_input" name="name" value="<%= @page_block.name %>" id="block_name"></td>
        <td class="DataTD">
          <button type="button" class="btn" onclick="cel_type()">取消</button>
          <button type="button" class="btn" onclick="update_block()">保存</button>
        </td>
      </tr>
    </table>
    </div>
  </div>
  <div style="margin-left: 20px;margin-right: 20px;">
    <table id="block_doctor_list"></table>
    <div id="page_block_doctor"></div>
  </div>
  <br>
  <div>
    <input type="hidden" id="block_id_d" value="<%= @page_block.id %>"><input type="hidden" id="doctor_ids" value="<%= @page_block.block_contents.first.content if !@page_block.block_contents.first.nil? %>">
    <!--<button class="fm-button ui-state-default ui-corner-all fm-button-icon-left" onclick="save_content()">保存到区块</button>-->
  </div>
</div>
<script type="text/javascript">
    function update_block() {
        $.ajax({
            type: 'put',
            url: 'page_blocks/' + <%= @page_block.id%>,
            data: {page_block: {
                name: $('#block_name').val()
            }},
            success: function (data) {
                $("#rightContent").html(data);
            }
        })
    }
    function update_name() {
        $('#edit_name').show();
        $('#show_name').hide();

    }
    function cel_type() {
        $('#edit_name').hide();
        $('#show_name').show();
    }
    jQuery("#block_doctor_list").jqGrid({
        url: '/block_contents/get_doctors?block_id=<%= @page_block.id%>',
        datatype: "json",
        mtype: 'GET',
        colNames: ['ID', '姓名首字母简拼', '姓名', '证件类型', '证件号码', '性别', '出生日期', '出生地', '婚姻状况', '省', '市', '医院', '科室', '国籍', '民族', '手机号', '邮箱', '职称', '职位', '学历', '专长', '毕业学校', '毕业时间'],
        colModel: [
//            {name:'act',index:'act', width:75,sortable:false},
            {name: 'id', index: 'id', width: 120, sorttype: "int", hidden: true, search: false },
            {name: 'spell_code', index: 'spell_code', width: 120, search: true, hidden: true, searchoptions: {searchhidden: true, sopt: ['in']}},
            {name: 'name', index: 'name', width: 55, editable: true, searchoptions: { sopt: ['in']}},
            {name: 'credential_type', index: 'credential_type', width: 100, editable: true, edittype: "select", editoptions: {value: "身份证:身份证;其他:其他"}, search: false },
            {name: 'credential_type_number', index: 'credential_type_number', width: 180, editable: true, searchoptions: { sopt: ['in']}},
            {name: 'gender', index: 'gender', width: 40, editable: true, search: false },
            {name: 'birthday', index: 'birthday', width: 90, editable: true, search: false },
            {name: 'birthplace', index: 'birthplace', width: 80, editable: true, search: false },
            {name: 'marriage', index: 'marriage', width: 80, search: false, hidden: true, editrules: {edithidden: true}},
            {name: 'province_name', index: 'province_name', width: 100, hidden: true, editable: true, search: false  },
            {name: 'city_name', index: 'city_name', width: 100, hidden: true, editable: true, search: false },
            {name: 'hospital_name', index: 'hospital_name', width: 100, editable: true, search: false  },
            {name: 'department_name', index: 'department_name', width: 100, editable: true, search: false  },
            {name: 'citizenship', index: 'citizenship', width: 100, search: false },
            {name: 'nationality', index: 'nationality', width: 100, search: false },
            {name: 'mobile_phone', index: 'mobile_phone', width: 100, align: "right", editable: true, searchoptions: { sopt: ['in']} },
            {name: 'email', index: 'email', width: 130, align: "right", editable: true, searchoptions: { sopt: ['in']}},
            {name: 'professional_title', index: 'professional_title', width: 80, align: "right", editable: true, search: false },
            {name: 'position', index: 'position', width: 80, search: false, hidden: true, editrules: {edithidden: true}},
            {name: 'degree', index: 'degree', width: 80, search: false, hidden: true, editrules: {edithidden: true}},
            {name: 'expertise', index: 'expertise', width: 80, search: false, hidden: true, editrules: {edithidden: true}},
            {name: 'graduated_from', index: 'graduated_from', width: 80, search: false, hidden: true, editrules: {edithidden: true}},
            {name: 'graduated_at', index: 'graduated_at', width: 80, search: false, hidden: true, editrules: {edithidden: true}}
//            {name:'introduction',index:'introduction', width:260, sortable:false}
        ],
        rownumbers: true,
        page:1,
        rowList: [10, 20, 30],
        sortname: 'id',
        viewrecords: true,
        sortorder: "desc",
        autowidth: true,
        jsonReader: {
            root: "doctors",
            total: "totalpages",
            page: "currpage",
            records: "totalrecords",
            repeatitems: false
        },
        prmNames: {
            page: "page", // 表示请求页码的参数名称
            rows: "rows", // 表示请求行数的参数名称
            id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
            //   npage: null,
            totalrows: "totalrows", // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            editoper: "edit", // 当在edit模式中提交数据时，操作的名称
            addoper: "add", // 当在add模式中提交数据时，操作的名称
            deloper: "del" // 当在delete模式中提交数据时，操作的名称
        },
        editurl: '/doctors/oper_action',
        closeAfterAdd: true,
        pager: jQuery('#page_block_doctor'),
        rowNum: 20,
        altclass: 'altRowsColour',
        width: '500',
        height: 'auto',
        caption: "<%= @page_block.name%>管理"
    });
    jQuery("#block_doctor_list").jqGrid('navGrid', '#page_block_doctor', {
                cloneToTop: true, add:false, edit:false, del:false,view: false, search: false,
                refreshtext: "更新", refreshtitle: "更新"},
            {
                closeAfterEdit: true
            },//edit
            {
                closeAfterAdd: true
            }//add
             ).navButtonAdd('#page_block_doctor', { title: '删除', caption: '删除', buttonicon: "ui-icon-trash", onClickButton: function () {
                delete_doctor();
            }, position: "first"
            }).navButtonAdd('#page_block_doctor', { title: '添加', caption: '添加', buttonicon: "ui-icon-plus", onClickButton: function () {
                add_doctor();
            }, position: "first"
            });
    $("#doctor_console").dialog({    //初始化对话框
        autoOpen: false,
        modal: false,    // 设置对话框为模态（modal）对话框
        resizable: true,
        width: 800,
        position: {
            my: "center",
            at: "center",
            of: window,
            collision: "fit",
            // Ensure the titlebar is always visible
            using: function (pos) {
                var topOffset = $(this).css(pos).offset().top;
                if (topOffset < 0) {
                    $(this).css("top", pos.top - topOffset);
                } else {
                    $(this).css("top", 100);
                }
            }
        },
        buttons: {  // 为对话框添加按钮
            "保存": save_doctor,
            "取消": function () {
                $("#doctor_console").dialog("close")
            }
        }
    });
    function add_doctor() {

        var video_consoleDlg = $("#doctor_console");
        var dialogButtonPanel = video_consoleDlg.siblings(".ui-dialog-buttonpane");
        dialogButtonPanel.find("button:not(:contains('取消'))").hide();
        dialogButtonPanel.find("button:contains('保存')").show();
        video_consoleDlg.dialog("option", "width", "800");
        video_consoleDlg.dialog("option", "title", "添加").dialog("open");

    }
    //删除医生
    function delete_doctor(){
        var id = jQuery("#block_doctor_list").jqGrid('getGridParam', 'selrow');
        if (id) {
            $.ajax({
                type: 'post',
                url: '/block_contents/delete_doctor',
                data: {
                    id: id,
                    block_id: $('#block_id_d').val()
                },
                success: function (data) {
                    $.ajax({
                        type: 'post',
                        url: 'page_blocks/update_template',
                        data: {content: data, page_block_id: $('#block_id_d').val()},
                        success: function (data) {
                            $("#rightContent").html(data);
                            $("#doctor_console").dialog("close");
                        }
                    })
                }
            })

        } else {
            alert('请选择删除项!');
        }
    }
    //保存医生
    function save_doctor(){
        var doctor_id = $('#doctor_select').val();
        if(doctor_id == 0){
            alert('请选择医生!');
        }else{
            $.ajax({
                type: 'post',
                url: '/block_contents/save_doctors',
                data: {
                    content: doctor_id,
                    block_id: $('#block_id_d').val()
                },
                success: function (data) {
                    $.ajax({
                        type: 'post',
                        url: 'page_blocks/update_template',
                        data: {content: data, page_block_id: $('#block_id_d').val()},
                        success: function (data) {
                            $("#rightContent").html(data);
                            $("#doctor_console").dialog("close");
                        }
                    })
                }
            })
        }
    }

</script>