<style>
    .form-control{
        width :200px;
    }
</style>
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><b>创建或编辑省市</b></h4>
</div>
<div class="modal-body">
<%= form_for(@province,remote:true,html:{id:'pro_form'}) do |f| %>
    <% if @province.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@province.errors.count, "error") %> prohibited this doctor from being saved:</h2>

          <ul>
            <% @doctor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
      <div class="col-md-6 field">

        <div class="province" style="float: left"><%= f.label :选择省 %><%= render partial: 'provinces/province_partial' %></div>

        <div class="city" style="float: left"><%= f.label :选择市 %><%= render partial: 'provinces/city_partial' %></div>

        <div class="county" style="float: left"><%= f.label :选择县 %><%= render partial: 'provinces/county_partial' %></div>
      </div>
      <div class="row">
        <div class="col-md-6 field" id= "province_div">
          <%= f.label :省名称 %>
          <%= f.text_field :name,class:"form-control" %>
          <%= f.label :简称 %>
          <%= f.text_field :short_name ,class:"form-control"%>

          <%= f.label :英文拼写 %>
          <%= f.text_field :spell_name ,class:"form-control"%>

          <%= f.label :缩写 %>
          <%= f.text_field :en_abbreviation ,class:"form-control"%>
        </div>
        <div class="col-md-6 field" id="city_div"  style="display: none">
          <%= f.label :市名称 %>
          <%= f.text_field :name,class:"form-control" %>
        </div>
        <div class="col-md-6 field" id="county_div"  style="display: none">
          <%= f.label :县名称 %>
          <%= f.text_field :name,class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit '确定',id:'new_or_edit_submit',class:"btn btn-primary",onclick:'create_or_update()'%>
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<% end %>
</div>
</div>
</div>
<script>
    function create_or_update(){
        var data = $('#pro_form').serialize();
        <% if !params[:id].nil? %>
        $.ajax({
            type:'put',
            url:'/provinces/<%= params[:id] %>?menu_id=<%=@menu_id%>',
            data:data,
            success:function(data){
                if (data['success']){
                    $('#create_or_edit_form').modal('hide')
                    var url= "/provinces?menu_id=<%=@menu_id%>"
                    jQuery("#list_province").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
                    alert('更新成功!');
                }else{
                    alert('更新失败!')
                }
            }
        }) ;
        <% else %>
        $.ajax({
            type:'post',
            url:'/provinces?menu_id=<%=@menu_id%>',
            data:data,
            success:function(data){
                if (data['success']){
                    $('#create_or_edit_form').modal('hide')
                    var url= "/provinces?menu_id=<%=@menu_id%>"
                    jQuery("#list_province").jqGrid('setGridParam',{url:url}).trigger("reloadGrid");
                    alert('添加成功!');
                }else{
                    alert('添加失败!');
                }

            }
        }) ;
        <% end %>
    }
</script>
