<p id="notice"><%= notice %></p>

<p>
  <strong>省名称:</strong>
  <%= @province.name %>
</p>

<p>
  <strong>简称:</strong>
  <%= @province.short_name %>
</p>

<p>
  <strong>英文拼写:</strong>
  <%= @province.spell_name %>
</p>
<p>
  <strong>缩写:</strong>
  <%= @province.en_abbreviation %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>


