
<%= stylesheet_link_tag 'menus/header'%>

<header class="">
  <div class="nologin_nav">
    <div class="nologin_logo">后台管理系统</div>
    <% if signed_in? %>
    <div class="fl nologin_user"><%= current_user.admin_type%>:<%= current_user.name%></div>
    <div class="nologin_menu">
      <ul id="menu">

            <li id="fat-menu" class="pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="yahei">帐户管理</span><b class="caret"></b>
              </a>
              <ul>
                <li><a href="JAVASCRIPT:update_password()" class="yahei">设置</a><%#= link_to "setting", '/admin2s/setting' %></li>
                <li>
                  <%= link_to "退出", '/sessions/sign_out', method: "delete" ,:class => "yahei"%>
                </li>
              </ul>
            </li>

      </ul>
    </div>
    <% end %>
  </div>

</header>
<%= javascript_include_tag 'menus/header'%>