<!DOCTYPE html>
<html>
<head>
  <title>后台管理系统</title>
  <title>WebAdmin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lte IE 8]-->
  <meta http-equiv=”x-ua-compatible” content=”ie=9″ />
  <!--[endif]-->
  <!--[if IE 9]-->
  <meta http-equiv=”x-ua-compatible” content=”ie=9″ />
  <!--[endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="renderer" content="webkit">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/header'%>
<div class="page-with-sidebar">
  <div class="sidebar-wrapper">
    <%= render partial: 'menus/left_menu'%>
  </div>
<!--<div style="margin-top: 50px; margin-left:100px">-->
  <div class="content-wrapper">
    <div class="container-fluid" id="rightContent" style="margin-top: 70px;">
      <!--<div class="row">-->
        <!--<div style="text-align:center">-->
          <%= yield %>
          <%#=image_tag "http://mimas-img.oss-cn-beijing.aliyuncs.com/huanying.jpg",:class=> "huanying_img"%>
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>

</body>
</html>
